/*style for about
=================================================================*/
/*contacts
=================================================================*/
.map {
	position: relative;
	width: 960px;
	height: 555px;
	margin: 5px 0 50px 0;
	background:url(../images/map.jpg) no-repeat 0 0;
}
	.map__contacts {
		position: absolute;
		top: 30px;
		left: 30px;
		width: 327px;
		height: 395px;
		background:url(../images/filter1.jpg);
	}
		.map__rect {
			position: absolute;
			bottom: -74px;
			left: 0;
			width: 327px;
			height: 79px;
			background:url(../images/tr.png) no-repeat 0 0;
		}
		.map__txt {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 307px;
			height: 386px;
			background: #fff;
			text-align: center;
			font-family: 'myriad_pro_condbold', Arial, sans-serif;
		}
			.map__txt img {
				margin-top: 19px;
			}
			.map__txt h3 {
				margin: 10px 0;
				font-size: 32px;
				color: #003146;
			}
			.map__txt p {
				font: 18px 'Conv_DINCondensedC', Arial, sans-serif;
			}
			.map__txt p span {
				font-size: 26px;
				color: #003146;
			}
			.map__mb {
				margin-bottom: 10px;
			}
/*team
=================================================================*/
.team {
	margin-top: 20px;	
}
	.team__user {
		overflow: hidden;
	}
		.team__user img {
			float: left;
			padding: 3px;
			margin-right: 35px;
			border: 1px solid #dadada;
		}
		.team__user h3 {
			font: 32px 'myriad_pro_condbold', Arial, sans-serif;
			color: #003146;
		}
		.team__user span {
			font: normal 18px 'Conv_DINCondensedC', Arial, sans-serif;
			color: #6c6a6a;
		}
		.team__user p {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 1.3;
		}
		.team__user b {
			font: 20px 'myriad_pro_condbold', Arial, sans-serif;
		}
		.team__user a {
			font: 20px 'myriad_pro_condbold', Arial, sans-serif;
			color: #2a7b9e;
		}
	.team__all {
		position: relative;
		height: 250px;
		margin-top: 30px;
		border-top: 1px solid #d7e7ee;
		-webkit-box-shadow: 0px -8px 8px #e4f1f5 inset;
		-moz-box-shadow: 0px -8px 8px #e4f1f5 inset;
		box-shadow: 0px -8px 8px #e4f1f5 inset;
		background:url(../images/team-bg.png);
	}
		.team__all .disabled {
				display: none;
			}
		.team__nav {
			position: absolute;
			top: 75px;
			width: 17px;
			height: 30px;
			cursor: pointer;
		}			
			.team__nav-prev {
				left: 14px;
				background:url(../images/team-nav.png) no-repeat 0 0;
			}
			.team__nav-next {
				right: 14px;
				background:url(../images/team-nav.png) no-repeat -17px 0;
			}
		.team__slider {
			position: relative;
			top: 15px;
			left: 50px;
			width: 860px;
			height: 220px;
			overflow: hidden;
		}
			.team__slider-items	{
				position: absolute;
				width: 2000em;
			}
			.team__slider .active i {
				position: absolute;
				top: 0;
				left: 0;
				width: 145px;
				height: 140px;
				border: 5px solid #003146;
			}
				.team__item {
					float: left;
					width: 155px;
					height: 220px;
					margin-right: 21px;
					cursor: pointer;
				}
					.team__item-img {
						position: relative;
					}
				.team__item b {
					font: 20px 'myriad_pro_condbold', Arial, sans-serif;
					color: #003146;
				}
				.team__item p {
					font-size: 13px;
				}
	.join-to-team {
		height: 63px;
		line-height: 63px;
		margin-top: 41px;
		background:url(../images/join-bg.jpg);
		text-align: center;
	}
		.join-to-team p {
			font-size: 16px;
		}
		.join-to-team a {
			margin-left: 10px;
			font-size: 20px;
		}
/*quality-control
=================================================================*/
.quality-control {
	margin: 20px 0 54px 0;
	overflow: hidden;
}
	.quality-control form {
		float: left;
		width: 545px;
		padding: 0 25px;
		margin-right: 32px;
		background:url(../images/menu-hover.png);
		-webkit-box-shadow: 0px -5px 5px #dbeef6 inset;
		-moz-box-shadow: 0px -5px 5px #dbeef6 inset;
		box-shadow: 0px -5px 5px #dbeef6 inset;
	}
		.quality-control form p {
			font-size: 14px;
			line-height: 50px;
		}
		.quality-control__field {
			position: relative;
			padding-left: 95px;
		}
			.quality-control__field input, .quality-control__field textarea {
				width: 430px;
				border: none;
				margin-bottom: 16px;
			}
			.quality-control__field input {
				height: 27px;
				line-height: 27px;
				padding: 0 10px;
			}
			.quality-control__field textarea {
				height: 140px;
				padding: 10px;
				font-family: 'Helvetica', Arial, sans-serif;
			}
			.quality-control__field span {
				position: absolute;
				top: 0;
				left: 0;
				height: 27px;
				line-height: 27px;
				font: 20px 'Conv_DINCondensedC', Arial, sans-serif;
			}
			.quality-control__send {
				margin: -4px 0 0 0;
			}
				.quality-control__send input {
					width: auto;
					height: 32px;
					padding: 0 8px;
					background: #013348;
					border: none;
					font: bold 15px/32px 'Conv_DINCondensedC', Arial, sans-serif;
					color: #fff;
					text-transform: uppercase;
					cursor: pointer;
				}
					.quality-control__send input:hover {
						background: #479bbf;
					}
	.quality-control__user {
		float: left;
		width: 280px;
	}
		.quality-control__user img {
			margin-bottom: 10px;
			padding: 3px;
			border: 1px solid #dadada;
		}
		.quality-control__user p {
			font-size: 14px;
			line-height: 1.3;
		}
		.quality-control__user span {
			color: #2a7b9e;
			border-bottom: 1px dashed #2a7b9e;
			cursor: pointer;
		}
/*sitemap
=================================================================*/
.sitemap {
	margin: 10px 0 50px 0;
}
	.sitemap h3 {
		position: relative;
		height: 34px;		
	}
		.sitemap h3 span {
			position: absolute;
			top: 0;
			left: 0;
			padding-right: 10px;
			background: #fff;
			font: 28px/34px 'myriad_pro_condbold', Arial, sans-serif;
			color: #003146;
			z-index: 10;
		}
		.sitemap h3 b {
			position: absolute;
			top: 17px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #ececec;
		}
	.sitemap__list {
		overflow: hidden;
		padding-left: 10px;
		margin-right: -50px;
	}
		.sitemap__list ul {
			float: left;
			margin-right: 45px;
		}
		.sitemap__list li {
			height: 26px;
			line-height: 26px;
		}
			.sitemap__list li.sitemap__list-title {
				height: 38px;
				font: 24px/38px 'myriad_pro_condbold', Arial, sans-serif;
				color: #003146;
			}
			.sitemap__list li a {
				font-size: 18px;
				color: #2a7b9e;
			}
/*schedule
=================================================================*/
.schedule {
	margin-top: 15px;
	padding-bottom: 25px;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
}
	.schedule__slide {
		position: absolute;
		top: -8px;
		width: 120px;
		height: 45px;
		border: 2px solid #003146;
		-webkit-box-shadow: 0px 0px 8px #b6d2de;
		-moz-box-shadow: 0px 0px 8px #b6d2de;
		box-shadow: 0px 0px 8px #b6d2de;
		background:url(../images/schedule-slide.png) no-repeat 0 0;
		z-index: 100;
		cursor: pointer;
	}
	.schedule__days {
		position: relative;
		padding: 0 40px;
		height: 45px;
		background:url(../images/days-bg.jpg);
	}
		.schedule__days ul {
			height: 45px;
		}
			.schedule__days ul li {
				position: relative;
				float: left;
				padding: 0 18px;
				margin: 0 10px;
				height: 45px;
				text-align: center;
			}
				.schedule__days li b {
					display: block;
					margin-top: 8px;
					font: 18px 'myriad_pro_condbold', Arial, sans-serif;
					color: #003146;
					text-transform: uppercase;
				}
				.schedule__days li span {
					display: block;
					font: 12px Helvetica, Arial, sans-serif;
					margin-top: -3px;
					color: #2a7b9e;
				}
		.schedule__days i {
			position: absolute;
			top: 13px;
			width: 19px;
			height: 19px;		
			cursor: pointer;	
		}	
			.schedule__days-prev {
				left: 12px;
				background:url(../images/days-nav.png) no-repeat 0 0;
			}
			.schedule__days-next {
				right: 12px;
				background:url(../images/days-nav.png) no-repeat -19px 0;
			}
		.schedule__days .schedule__days-last b, .schedule__days .schedule__days-last span {
			color: #717171;
		}
		.schedule__days .schedule__days-curr {
			background:url(../images/days-curr-bg.png);
		}
		.schedule__days .schedule__days-curr b, .schedule__days .schedule__days-curr span {
			color: #fff;
		}
		.schedule__days .schedule__days-curr em {
			position: absolute;
			display: block;
			top: 45px;
			left: 50%;
			width: 28px;
			height: 8px;
			margin-left: -14px;
			background:url(../images/days-curr-tr.png) no-repeat 0 0;
		}		
	.schedule__times {
		position: relative;
		margin-top: 25px;		
		background:url(../images/times-bg.jpg);
	}
		.schedule__times strong {
			position: absolute;
			top: 0;
			width: 9px;
			height: 60px;
			background:url(../images/pr-time.png) no-repeat 0 0;
			z-index: 20;
		}
		.schedule__times ul {
			position: relative;
			height: 33px;
			margin-right: -10px;
			z-index: 40;
		}
			.schedule__times li {
				float: left;
				height: 33px;
				width: 87px;
				text-align: center;
				font: bold 24px/33px 'Conv_DINCondensedC', Arial, sans-serif;				
				color: #003146;
			}
				.schedule__times .schedule__times-last {
					color: #8f8f8f;
				}
.left-col .programm-all {
	margin-bottom: 10px;
	font-size: 12px;
}
	.programm-all span {
		color: #003146;
		border-bottom: 1px dashed #003146;
	}
.programm {
	margin-bottom: 15px;
}
	.programm li {
		color: #003146;
		overflow: hidden;		
	}
		.programm li span {
			float: left;
			width: 69px;
			height: 32px;
			text-align: center;
			font: 14px/32px Helvetica, Arial, sans-serif;
		}
		.programm li strong {
			float: left;
			height: 32px;
			padding: 0 30px 0 15px;
			font: 18px/32px 'myriad_pro_condbold', Arial, sans-serif;
			cursor: pointer;
		}
		.programm li b {
			float: left;
			display: none;
			height: 32px;
			margin-left: 7px;
			font: normal 8px/36px 'Helvetica',sans-serif;
			color: #76A8BE;
			text-transform: uppercase;
		}
		.programm li i {
			font-style: normal;
		}
	.programm .programm__last {
		color: #717171;
	}
	.programm .programm__curr {
		background:url(../images/prg-cur.png) no-repeat 0 0;
		color: #fff;
	}
		.programm .programm__curr b {
			display: block;
		}
		.programm .programm__curr span, .programm .programm__curr strong {
			background: none;
		}
	.programm .programm__active {
		
	}
		.programm__active span {
			background:url(../images/pr-sp.jpg) no-repeat 0 0;
		}
		.programm__active strong {
			background:url(../images/pr-st.png) no-repeat 100% 0;
		}
		.programm__active i:hover {
			border-bottom: 1px dashed #92a3ac;
		}
		.programm__info {
			display: none;
			position: relative;
			margin: 10px 0;
			padding-left: 145px;
		}
			.programm__info img {
				position: absolute;
				top: 0;
				left: 83px;
			}
			.programm__info p {
				margin: 0 0 10px 0;
				font: normal 13px/17px 'Helveticaupright', 'Helvetica', sans-serif;
				color: #000;
			}
				.programm .programm__info p span {
					float: left;
					width: auto;
					height: 20px;
					line-height: 20px;
					padding: 0 7px;
					margin: 0 0 5px 0;
					background: none;
					font-size: 12px;
				}
				.programm .programm__info .last {
					color: #8f8f8f;
				}
				.programm .programm__info .curr {
					background: #ececec;
				}
.now-ether {
	margin: 30px 0;
}
	.now-ether .h3, .programm-next .h3 {
		overflow: hidden;
	}
		.now-ether .h3 b, .programm-next .h3 b {
			float: left;
		}
		.now-ether .h3 span, .programm-next .h3 span {
			float: right;
		}
	.now-ether__title {
		position: relative;
		height: 32px;
		background:url(../images/now-ether.png) no-repeat 0 0;
	}
		.now-ether__title span {
			display: block;
			margin-left: 20px;
			width: 180px;
			font: 24px/32px 'myriad_pro_condbold', Arial, sans-serif;
			color: #fff; 
		}
		.now-ether__air {
			position: absolute;
			top: 0;
			right: 0;
			width: 96px;
			height: 32px;
			text-align: center;
		}
			.now-ether__air b {
				font: bold 13px 'Conv_DINCondensedC','Arial', sans-serif;
				text-transform: uppercase;
				color: white;
			}
			.now-ether__air i {
				margin-top: -4px;
				display: block;
				color: #76A8BE;
				font: normal 11px 'Helvetica',sans-serif;
				font-style: normal;
			}
		.now-ether img {
			margin-top: 8px;
		}
.programm-next {
	overflow: hidden;
	margin-bottom: 30px;
}
	.programm-next img {
		float: left;
		margin-right: 14px;
	}
	.programm-next__info {
		width: 145px;
		overflow: hidden;
	}
		.programm-next__info a {
			font-size: 18px;
		}
		.programm-next__info p {
			font-size: 14px;
			color: #a8a8a8;
		}
.programm-download {
	position: relative;
	height: 50px;
	padding-left: 55px;
	margin-bottom: 30px;
	background: url(../images/dwnl-prog-bg.jpg) repeat-x;
}
	.programm-download i {
		position: absolute;
		top: 5px;
		left: 5px;
		width: 40px;
		height: 40px; 
		background: url(../images/dwnl-prog.png) no-repeat 50% 50% #fff;
	}
	.programm-download b {
		display: block;
		padding-top: 5px;
		font-size: 22px;
	}
	.programm-download span {
		display: block;
		margin-top: -1px;
		font: 14px 'myriad_pro_condbold', Arial, sans-serif;
	}
.programm-pop {

}
	.programm-pop li {
		height: 30px;
		margin-bottom: 13px;
		line-height: 30px;
	}
		.programm-pop li img {
			float: left;
			margin-right: 12px;
		}
		.programm-pop li span {
			border-bottom: 1px dashed #92a3ac;
		}
/*advertising
=================================================================*/
.advt-top {
	display: block;
	margin-top: 5px;
	height: 360px;
	background:url(../images/adver-bg.jpg) no-repeat 0 0;
}
.advt {
	padding: 
}
	.advt .h3 {
		line-height: 44px;
		margin: 0;
		color: #000;
	}
	.advt p {
		margin: 0;
	}
	.advt img {
		margin: 20px 0 40px 0;
	}
	.advt__banner {
		position: relative;
		padding-right: 350px;
		margin-bottom: 30px;
		height: 600px;
		background:url(../images/banners.png) no-repeat 100% 0;
	}
		.advt__banner-tips {
			margin: 5px 0 50px 0;
		}
		.advt__banner-tips li {
			width: 80px;
			height: 20px;
			line-height: 20px;
			padding-left: 3px;
			margin-left: 3px;
			color: #2a7b9e;
			cursor: pointer;
		}
			.advt__banner-tips li:hover {
				background: #d3f0d0;
			}
			.advt__banner-tips li span {
				display: none;
				position: absolute;
				margin: 5px;
				border: 1px solid #94b78f;
				background: #e4f5e2;
				-webkit-box-shadow: 0px 0px 10px #000;
				-moz-box-shadow: 0px 0px 10px #000;
				box-shadow: 0px 0px 10px #000;
				font-size: 16px;
				font-family: Georgia, Arial, sans-serif;
				font-weight: bold;
				color: #4c9843;
				text-align: center;
			}
			.banner-1 span {
				top: 13px;
				left: 334px;
				width: 240px;
				height: 50px;
				line-height: 50px;
			}
				.banner-1:hover span {display: block;}
			.banner-2 span {
				top: 182px;
				left: 485px;
				width: 90px;
				height: 80px;
				line-height: 80px;
			}
				.banner-2:hover span {display: block;}
			.banner-3 span {
				top: 308px;
				left: 339px;
				width: 160px;
				height: 40px;
				line-height: 40px;
			}
				.banner-3:hover span {display: block;}
			.banner-4 span {
				top: 309px;
				left: 490px;
				width: 75px;
				height: 110px;
				line-height: 110px;
			}
				.banner-4:hover span {display: block;}
			.banner-5 span {
				top: 509px;
				left: 360px;
				width: 190px;
				height: 40px;
				line-height: 40px;
			}
				.banner-5:hover span {display: block;}
	.advt__sponsor {
		overflow: hidden;
		margin: 50px 0;
	}
		.advt__sponsor li {
			float: left;
			width: 200px;
			text-align: center;
		}	
			.advt .advt__sponsor li img {
				margin-bottom: 5px;
			}
			.advt__sponsor li span {
				display: block;
				text-align: center;
			}
.advt-anchor {
	margin: 5px 0 45px 0;
}
	.advt-anchor li {
		height: 32px;
		line-height: 32px;
	}
		.advt-anchor li a {
			border-bottom: 1px dashed #92a3ac;
		}
.advt-media {
	
}
	.advt-media a {
		padding-left: 25px;
		font: 14px/22px Helvetica, Arial, sans-serif;
	}
		.advt-media a span {
			color: #a8a8a8;
			margin-left: 5px;
		}
		.pdf {background:url(../images/pdfexelword.png) no-repeat 0 0;}
		.exel {background:url(../images/pdfexelword.png) no-repeat 0 -22px;}
		.word {background:url(../images/pdfexelword.png) no-repeat 0 -44px;}
/*vacancy
=================================================================*/
.vacancy-detail	{
	overflow: hidden;
	margin-bottom: 20px;
}
	.vacancy-detail img {
		float: left;
		padding: 3px;
		margin-right: 14px;
		border: 1px solid #dadada;
	}
.vacancy-form {

}
	.vacancy-form__user {

	}
		.vacancy-form__user h3 {
			border-bottom: 3px solid #002d41;
		}
			.vacancy-form__user h3 span {
				float: right;
				margin-top: 7px;
				font: 12px Arial, sans-serif;
				color: #000;
			}
		.vacancy-form__user .vacancy-field {
			position: relative;
			margin-bottom: 10px;
			overflow: hidden;
		}
		.vacancy-form__user .vacancy-field span {
			float: left;
			width: 240px;
			height: 27px;
			font: 20px/27px 'MyriadPro-Cond', Arial, sans-serif;		
		}
		.vacancy-form__user .vacancy-field input, .vacancy-form__user .vacancy-field b {
			float: left;
			width: 275px;
			height: 24px;
			font: 20px/24px 'myriad_pro_condbold', Arial, sans-serif;
			border-bottom: 1px solid #ccc;
			border-top: none;
			border-left: none;
			border-right: none;
			outline: none;
		}
		.vacancy-form__user .vacancy-field b {
			background:url(../images/arr.png) no-repeat 98% 50%;
		}
		.vacancy-form__user .vacancy-field select {
			position: absolute;
			left: 240px;
			top: -4px;
			width: 275px;
			height: 28px;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.vacancy-form__user .vacancy-field .vacancy-form__age {
			width: 45px;
			margin-right: 10px;
		}
		.vacancy-form__user .vacancy-field strong {
			margin-right: 8px;
			color: #d9d9d9;
			cursor: pointer;
		}
			.vacancy-form__user .vacancy-field strong.active {
				color: #000;
			}
	.vacancy-form__resume {
		margin-top: 20px;
		padding: 12px;
		background:url(../images/menu-hover.png);
	}	
		.vacancy-form__resume .vacancy-field {
			position: relative;
			line-height: 27px;
			margin-bottom: 12px;
			overflow: hidden;
		}
		.vacancy-form__resume .vacancy-field span {
			float: left;
			width: 225px;
			height: 28px;
			font: 20px/28px 'MyriadPro-Cond', Arial, sans-serif;		
		}
		.vacancy-form__resume .vacancy-field b {
			float: left;
			padding-left: 5px;
			width: 365px;
			height: 27px;
			background:url(../images/arr.png) no-repeat 98% 50% #fff;
			font: 20px/28px 'Conv_DINCondensedC', Arial, sans-serif;
		}
		.vacancy-form__resume .vacancy-field i {
			float: left;
			width: 75px;
			height: 27px;
			background: #2a7b9e;
			font: 20px/27px 'MyriadPro-Cond', Arial, sans-serif;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
		}
		.vacancy-field:hover .vacancy-field__obzor {
			background: #3ea7d4;
		}
			.vacancy-form__resume .vacancy-field i:hover {
				background: #3ea7d4;
			}
		.vacancy-form__resume .vacancy-field select {
			position: absolute;
			top: 0;
			left: 225px;
			width: 370px;
			height: 27px;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.vacancy-form__resume .vacancy-field textarea {
			float: left;
			width: 360px;
			height: 140px;
			padding: 5px;
			background: #fff;
			border: none;
			font: normal 20px 'Conv_DINCondensedC', Arial, sans-serif;
			color: #000;
		}
		.vacancy-form__resume .vacancy-field input {
			float: left;
			width: 290px;
			height: 27px;
			padding: 0 0 0 5px;
			background: #fff;
			border: none;
			font: normal 20px/27px 'Conv_DINCondensedC', Arial, sans-serif;
			color: #000;
		}
		.vacancy-form__resume .vacancy-field .add-resume {
			position: absolute;
			top: 0;
			left: 225px;
			width: 370px;
			height: 27px;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.vacancy-form__resume .vacancy-field textarea::-webkit-input-placeholder, 
		.vacancy-form__resume .vacancy-field input::-webkit-input-placeholder {
		   font: normal 20px 'MyriadPro-Cond', Arial, sans-serif;
		   color: #d9d9d9;
		}
		.vacancy-form__resume .vacancy-field textarea:-moz-placeholder,
		.vacancy-form__resume .vacancy-field input:-moz-placeholder {
		   font: normal 20px 'MyriadPro-Cond', Arial, sans-serif;
		   color: #d9d9d9;
		}
	.vacancy-form .send-vacancy {
		height: 32px;
		margin: 10px 0 30px 0;
		background: #013348;
		border: none;
		font: normal 15px/32px 'Conv_DINCondensedC', Arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
		.vacancy-form .send-vacancy:hover {
			background: #479bbf;
		}
	.vacancy-list ul {

	}
		.vacancy-list li {
			height: 30px;
			font: normal 18px/30px 'myriad_pro_condbold', Arial, sans-serif;
			color: #013348;
		}

