/*style for about
=================================================================*/
/*contacts
=================================================================*/
.map {
	position: relative;
	width: 960px;
	height: 555px;
	margin: 5px 0 50px 0;
	background:url(../images/map.jpg) no-repeat 0 0;
}
	.map__contacts {
		position: absolute;
		top: 30px;
		left: 30px;
		width: 327px;
		height: 395px;
		background:url(../images/filter1.jpg);
	}
		.map__rect {
			position: absolute;
			bottom: -74px;
			left: 0;
			width: 327px;
			height: 79px;
			background:url(../images/tr.png) no-repeat 0 0;
		}
		.map__txt {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 307px;
			height: 386px;
			background: #fff;
			text-align: center;
			font-family: 'myriad_pro_condbold', Arial, sans-serif;
		}
			.map__txt img {
				margin-top: 19px;
			}
			.map__txt h3 {
				margin: 10px 0;
				font-size: 32px;
				color: #003146;
			}
			.map__txt p {
				font: 18px 'Conv_DINCondensedC', Arial, sans-serif;
			}
			.map__txt p span {
				font-size: 26px;
				color: #003146;
			}
			.map__mb {
				margin-bottom: 10px;
			}
/*team
=================================================================*/
.team {
	margin-top: 20px;	
}
	.team__user {
		overflow: hidden;
	}
		.team__user img {
			float: left;
			padding: 3px;
			margin-right: 35px;
			border: 1px solid #dadada;
		}
		.team__user h3 {
			font: 32px 'myriad_pro_condbold', Arial, sans-serif;
			color: #003146;
		}
		.team__user span {
			font: normal 18px 'Conv_DINCondensedC', Arial, sans-serif;
			color: #6c6a6a;
		}
		.team__user p {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 1.3;
		}
		.team__user b {
			font: 20px 'myriad_pro_condbold', Arial, sans-serif;
		}
		.team__user a {
			font: 20px 'myriad_pro_condbold', Arial, sans-serif;
			color: #2a7b9e;
		}
	.team__all {
		position: relative;
		height: 250px;
		margin-top: 30px;
		border-top: 1px solid #d7e7ee;
		-webkit-box-shadow: 0px -8px 8px #e4f1f5 inset;
		-moz-box-shadow: 0px -8px 8px #e4f1f5 inset;
		box-shadow: 0px -8px 8px #e4f1f5 inset;
		background:url(../images/team-bg.png);
	}
		.team__nav {
			position: absolute;
			top: 75px;
			width: 17px;
			height: 30px;
			cursor: pointer;
		}
			.team__nav-prev {
				left: 14px;
				background:url(../images/team-nav.png) no-repeat 0 0;
			}
			.team__nav-next {
				right: 14px;
				background:url(../images/team-nav.png) no-repeat -17px 0;
			}
		.team__slider {
			position: relative;
			top: 15px;
			left: 50px;
			width: 860px;
			height: 220px;
			overflow: hidden;
		}
			.team__slider-items	{
				position: absolute;
				width: 2000em;
			}
			.team__slider .active i {
				position: absolute;
				top: 0;
				left: 0;
				width: 145px;
				height: 140px;
				border: 5px solid #003146;
			}
				.team__item {
					float: left;
					width: 155px;
					height: 220px;
					margin-right: 21px;
					cursor: pointer;
				}
					.team__item-img {
						position: relative;
					}
				.team__item b {
					font: 20px 'myriad_pro_condbold', Arial, sans-serif;
					color: #003146;
				}
				.team__item p {
					font-size: 13px;
				}
	.join-to-team {
		height: 63px;
		line-height: 63px;
		margin-top: 41px;
		background:url(../images/join-bg.jpg);
		text-align: center;
	}
		.join-to-team p {
			font-size: 16px;
		}
		.join-to-team a {
			margin-left: 10px;
			font-size: 20px;
		}
/*quality-control
=================================================================*/
.quality-control {
	margin: 20px 0 54px 0;
	overflow: hidden;
}
	.quality-control form {
		float: left;
		width: 545px;
		padding: 0 25px;
		margin-right: 32px;
		background:url(../images/menu-hover.png);
		-webkit-box-shadow: 0px -5px 5px #dbeef6 inset;
		-moz-box-shadow: 0px -5px 5px #dbeef6 inset;
		box-shadow: 0px -5px 5px #dbeef6 inset;
	}
		.quality-control form p {
			font-size: 14px;
			line-height: 50px;
		}
		.quality-control__field {
			position: relative;
			padding-left: 95px;
		}
			.quality-control__field input, .quality-control__field textarea {
				width: 430px;
				border: none;
				margin-bottom: 16px;
			}
			.quality-control__field input {
				height: 27px;
				line-height: 27px;
				padding: 0 10px;
			}
			.quality-control__field textarea {
				height: 140px;
				padding: 10px;
				font-family: 'Helvetica', Arial, sans-serif;
			}
			.quality-control__field span {
				position: absolute;
				top: 0;
				left: 0;
				height: 27px;
				line-height: 27px;
				font: 20px 'Conv_DINCondensedC', Arial, sans-serif;
			}
			.quality-control__send {
				margin: -4px 0 0 0;
			}
				.quality-control__send input {
					width: auto;
					height: 32px;
					padding: 0 8px;
					background: #013348;
					border: none;
					font: bold 15px/32px 'Conv_DINCondensedC', Arial, sans-serif;
					color: #fff;
					text-transform: uppercase;
				}
	.quality-control__user {
		float: left;
		width: 280px;
	}
		.quality-control__user img {
			margin-bottom: 10px;
			padding: 3px;
			border: 1px solid #dadada;
		}
		.quality-control__user p {
			font-size: 14px;
			line-height: 1.3;
		}
		.quality-control__user span {
			color: #2a7b9e;
			border-bottom: 1px dashed #2a7b9e;
			cursor: pointer;
		}
/*sitemap
=================================================================*/
.sitemap {
	margin: 10px 0 50px 0;
}
	.sitemap h3 {
		position: relative;
		height: 34px;		
	}
		.sitemap h3 span {
			position: absolute;
			top: 0;
			left: 0;
			padding-right: 10px;
			background: #fff;
			font: 28px/34px 'myriad_pro_condbold', Arial, sans-serif;
			color: #003146;
			z-index: 10;
		}
		.sitemap h3 b {
			position: absolute;
			top: 17px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #ececec;
		}
	.sitemap__list {
		overflow: hidden;
		padding-left: 10px;
		margin-right: -50px;
	}
		.sitemap__list ul {
			float: left;
			margin-right: 45px;
		}
		.sitemap__list li {
			height: 26px;
			line-height: 26px;
		}
			.sitemap__list li.sitemap__list-title {
				height: 38px;
				font: 24px/38px 'myriad_pro_condbold', Arial, sans-serif;
				color: #003146;
			}
			.sitemap__list li a {
				font-size: 18px;
				color: #2a7b9e;
			}
/*schedule
=================================================================*/
.schedule {
	margin-top: 15px;
}
	.schedule__days {
		position: relative;
		padding: 0 40px;
		height: 45px;
		background:url(../images/days-bg.jpg);
	}
		.schedule__days ul {
			height: 45px;
		}
			.schedule__days ul li {
				position: relative;
				float: left;
				padding: 0 18px;
				margin: 0 10px;
				height: 45px;
				text-align: center;
			}
				.schedule__days li b {
					display: block;
					margin-top: 8px;
					font: 18px 'myriad_pro_condbold', Arial, sans-serif;
					color: #003146;
					text-transform: uppercase;
				}
				.schedule__days li span {
					display: block;
					font: 12px Helvetica, Arial, sans-serif;
					margin-top: -3px;
					color: #2a7b9e;
				}
		.schedule__days i {
			position: absolute;
			top: 13px;
			width: 19px;
			height: 19px;		
			cursor: pointer;	
		}	
			.schedule__days-prev {
				left: 12px;
				background:url(../images/days-nav.png) no-repeat 0 0;
			}
			.schedule__days-next {
				right: 12px;
				background:url(../images/days-nav.png) no-repeat -19px 0;
			}
		.schedule__days .schedule__days-last b, .schedule__days .schedule__days-last span {
			color: #717171;
		}
		.schedule__days .schedule__days-curr {
			background:url(../images/days-curr-bg.png);
		}
		.schedule__days .schedule__days-curr b, .schedule__days .schedule__days-curr span {
			color: #fff;
		}
		.schedule__days .schedule__days-curr em {
			position: absolute;
			display: block;
			top: 45px;
			left: 50%;
			width: 28px;
			height: 8px;
			margin-left: -14px;
			background:url(../images/days-curr-tr.png) no-repeat 0 0;
		}
