/* afisha */
.afisha-items {
	overflow: hidden;
	margin: 23px -50px 0 0;
}
	.afisha-item {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 190px;
		margin: 0 50px 50px 0;
	}
		.afisha-item__date {
			height: 35px;
			padding-left: 3px;
			color: #000;
			border-left: 1px solid #dadada;
			font: normal 26px 'Conv_DINCondensedC',Arial, sans-serif;
		}	
		.afisha-item__img {
			padding: 3px;
			display: block;
			border: 1px solid #dadada;
		}
			.afisha-item__img img {
				display: block;
			}
		.afisha-item__title {
			margin: 11px 0 0 0;
		}
		.afisha-item__descr {
			font: normal 14px 'Conv_DINCondensedC', Arial, sans-serif;
			color: #a8a8a8;
		}

.afisha-items_s {margin: 0;}
	.afisha-items_s 
	.afisha-item {
		float: left;
		width: 135px;
		margin: 25px 0 0 0;
	}
		.afisha-items_s 
		.afisha-item__date {
			height: 25px;
			font: normal 18px/25px 'myriad_pro_condbold', sans-serif;
		}
		.afisha-items_s 
		.afisha-item__img {
			width: 105px;
		}
.afisha-title {
	position: relative;
	background: url(../images/filter2.png) 0 0 repeat;
	text-align: center;
	padding:10px;
	min-height: 16px;
	-o-box-shadow: 0px -5px 30px #DBEEF6 inset;
	-webkit-box-shadow: 0px -5px 30px #DBEEF6 inset;
	-moz-box-shadow: 0px -5px 30px #dbeef6 inset;
	box-shadow: 0px -5px 30px #DBEEF6 inset;
}
	.afisha-title a span {
		font: normal 18px Arial, sans-serif;
		color: #ddd;
	}
	.afisha-title__last {
		left: 10px;
		background:#fff;
	}
	.afisha-title__future {
		right: 10px;
		background:#fff;
	}
		.afisha-title__last span {padding-right: 8px;}
		.afisha-title__future span {padding-left: 8px;}
	.afisha-title__date {
		right: 10px;
		padding-left: 30px !important;
		background: #fff url(../images/cal.png) 6px 50% no-repeat;
	}
	.afisha-title__last,
	.afisha-title__future,
	.afisha-title__date {
		position: absolute;
		top: 50%;
		margin-top: -12px; 
		padding: 0 9px;
		color: #003146;
		font: normal 13px/25px Helvetica, sans-serif;
	}
	.afisha-title h2 {
		color: #2a7b9e;
		font: normal 36px/35px 'myriad_pro_condbold', sans-serif;
	}
	.afisha-item__opt {margin-top: 4px;}
		.icon {
			color: #a8a8a8;
			font: normal 14px 'MyriadPro-Cond',Arial, sans-serif;
			background-image: url(../images/view.png);
			background-repeat: no-repeat;
			padding: 0 13px 0 17px;
		}
		.icon_viewed {
			background-position: 0 3px;
			
		}
		.icon_video {
			background-position: 0 -18px;
		}
		.icon_photo {
			background-position: 0 -40px;
		}
.afisha-ban {
	padding: 10px;
	overflow: hidden;
	background: #002d41;
	color: #fff;
}
	.afisha-ban p {
		margin-bottom: 18px;
	}
	.afisha-ban img {
		float: left;
	}
	.afisha-ban__text {
		overflow: hidden;
		padding: 10px; 
	}
		.afisha-ban__date {
			font: normal 26px 'Conv_DINCondensedC',Arial, sans-serif;
		}
		.afisha-ban__info {
			border-top: 1px solid #1a4254; 
			border-bottom: 1px solid #1a4254; 
			font-family: Helvetica, Arial, sans-serif;
			padding: 10px 0;
			margin: 14px 0;
		}
			.afisha-ban__info span {
				text-transform: uppercase;
				font-size: 13px;
				display: inline-block;
				width: 72px;
			}
			.afisha-ban__info b {
				font-size: 15px;
			}

.afisha-other {
	padding: 9px;
}
	.afisha-other .h2_mod {
		margin-bottom: 9px;
	}
	.afisha-s {
		overflow: hidden;
		margin-bottom: 20px;
	}
		.afisha-s__img {
			float: left;
			width: 70px;
			overflow: hidden;
			margin-right: 15px;
		}
			.afisha-s__img img {
				display: block;
			}
		.afisha-s__info {
			overflow: hidden;
			font-family: 'myriad_pro_condbold', sans-serif;
		}
			.afisha-s__info h4 a {
				font-size: 18px;
			}
			.afisha-s__info span {
				font-size: 14px;
				color: #a8a8a8;
				font-family: 'MyriadPro-Cond';
			}
/* Afisha scroll */
.afisha-title-wrapper {
	margin: 20px 0 11px;
	padding: 0 11px;
}
	.afisha-title-wrapper .h2_mod,
	.afisha-v-nav {
		display: inline-block;
		vertical-align: middle;
	}
	.afisha-v-nav {
		width: 50px;
		margin-left: 10px;
	}
	.prev, .next {
		color: #ddd;
		font: normal 20px Arial, sans-serif;
		cursor: pointer;
		float: left;
	}
	.next {float: right;}

	.prev:hover, .next:hover {color: #a5a2a2;}
	.prev.disabled, 
	.next.disabled {display: none;}
	.prev {padding-right: 10px;}
	.afisha-scroll {
		position: relative;
		overflow: hidden;
		height: 190px;
		width: 617px;
		margin: 0 auto;
	}
	.afisha-p {
		height: 130px;
		margin-bottom: 26px;
	}
		.afisha-scroll__items {
			position: absolute;
			width: 2000em;
			overflow: hidden;
		}
			.afisha-scroll__items a {
				float: left;
				margin-right: 5px;
			}
			.afisha-scroll__items 
			.pop-news__img {
				margin-bottom: 2px;
			}
			.afisha-scroll__items 
			.date {
				margin-top: 6px;
			}
			.afisha-v-nav .disabled {
				display: none;
			}
.afisha-nav {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	width: 105px;
	color: #ddd;
	font: normal 36px Arial,sans-serif;
}
	.afisha-nav__prev,
	.afisha-nav__next {
		cursor: pointer;
		float: left;
	}
	.afisha-nav__next {
		cursor: pointer;
		float: right;
	}
.two-cols-wrapper_af {border-top: 1px solid #ececec;}