.article {
	overflow: hidden;
	padding-top: 14px;
}
	.article img {display: block;}
	.article__imp {
		font: normal 30px 'myriad_pro_condbold', Arial, sans-serif;
		color: #2a7b9e;
		margin-bottom: 6px;
	}
	.date_article {
		padding-left: 0;
		margin-bottom: 24px;
	}
	.article__cont {
		padding: 17px 9px;
		overflow: hidden;
		border: 1px solid #ececec;
		border-bottom: 0;
	}
		.article__cont img {margin-bottom: 11px;}
		.article__col-left {
			float: left;
			width: 620px;
			padding-right: 10px;
			overflow: hidden;
		}
		.article__h2 {
			font: normal 44px/44px 'myriad_pro_condbold', Arial, sans-serif;
			color: #2a7b9e;
			padding-bottom: 34px;
		}
		.article__col-right {
			float: left;
			width: 310px;
		}
			.article__col p a {
				font: normal 14px/22px 'Helveticaupright', 'Helvetica', sans-serif;
				color: #2a7b9e;
			}
			.quote {
				color: #003146;
				font: normal 24px/28px 'Conv_DINCondensedC','Arial', sans-serif;
			}
			.quote_small {
				padding-left: 9px;
				border-left: 4px solid #003146;
			}	
			.quote_width {
				width: 490px;
				margin: 0 auto;
				text-align: center;
			}	
				.quote_width:before,
				.quote_width:after {
					content: '';
					display: block;
					width: 420px;
					margin: 0 auto;
					height: 4px;
					background: #003146;
					margin-bottom: 30px;
				}
				.quote_width:before {
					margin-bottom: 23px;
				}
				.quote_width:after {
					margin-top: 16px;
				}
			.article__img-s {
				margin: 0 0 11px 9px;
			}
		.article__item {overflow: hidden;}
			.article__item img {
				float: left;
				margin-right: 16px;
			}
		.article__video-wrapp {
			width: 560px;
			float: left;
			position: relative;
			margin-bottom: 37px;
		}
			.article__video {
				height: 325px;
			}
			.article__scroll {
				position: relative;
				height: 89px;
				overflow: hidden;
				width: 500px;
				margin: 0 auto;
				z-index: 2;
			}
				.article__scroll-items {
					position: absolute;
					width: 2000em;
				}
					.article__scroll-item {
						float: left;
						width: 125px;
					}	
						.article__scroll-item .js-block {
							display: none;
						}
						.article__scroll-item a {
							display: block;
							position: relative;
							height: 89px;
							overflow: hidden;
						}
						.article__video-active {
							width: 119px;
							height: 86px !important;
							border: 3px solid #003146;
							border-top: 0;
						}
						.article__video-active .icon-video_yt,
						.article__video-active .above-video {
							display: none;
						}
							.icon-video_yt {
								top: 50%;
								left: 50%;
								margin-top: -19px;
								margin-left: -29px;
								width: 58px;
								height: 39px;
								background: url(../images/icon-video2.png) 0 0 no-repeat;
								text-indent: -2000em;
							}
							.above-video {
								position: absolute;
								top: 0;
								width: 125px;
								height: 89px;
								background: rgba(255,255,255,0.5);
								text-indent: -2000em;
							}
			.article__scroll-nav {
				position: absolute;
				bottom: 0;
				height: 89px;
				width: 100%;
				overflow: hidden;
				background: #efefef;
			}
				.article__scroll-nav span {
					float: left;
					width: 30px;
					height: 89px;
					cursor: pointer;
				}
				.article__scroll-prev {
					background: #efefef url(../images/prev2.png) 8px 34px no-repeat;
				}
				.article__scroll-prev:hover {
					background: #dbeef6 url(../images/pagin-prev-hover.png) 8px 34px no-repeat;
				}
				.article__scroll-next {
					float: right !important;
					background: #efefef url(../images/next2.png) 8px 34px no-repeat;
				}	
				.article__scroll-next:hover {
					background: #dbeef6 url(../images/pagin-next-hover.png) 9px 34px no-repeat;
				}
				.article__scroll-nav .disabled {display: none;}
		.article__video-descr {
			float: left;
			width: 360px;
			overflow: hidden;
			color: #003146;
			padding-left: 17px;
		}
			.article__video-counter {
				float: left;
				font: normal 76px 'myriad_pro_condbold';
			}
			.article__video-text {
				overflow: hidden;
				font: normal 14px/22px 'Helvetica',sans-serif;
				padding-top: 10px;
			}
				.article__video-title {
					font: normal 30px 'myriad_pro_condbold';
					display: block;
					padding-bottom: 15px;
				}
/* news */
.article__cont_news {
	overflow: hidden;
	padding: 0 0 42px;
}
	.gallery-news {
		width: 620px;
		height: 585px;
		margin-bottom: 31px;
	}
		.gallery-news .galleria-container {background: #fff;}
		.gallery-news .galleria-stage {
			position: static;
			height: 430px;
		}
		.gallery-news 
		.galleria-thumbnails-container {
			height: 142px;
			width: 576px;
			background: #efefef;
		}
			.gallery-news .galleria-image {
				height: 142px;
				width: 184px;
				margin-right: 14px;
			}
			.gallery-news 
			.galleria-thumb-nav-right,
			.gallery-news 
			.galleria-thumb-nav-left {
				background-color: #efefef;
				height: 142px;
				background: #efefef url(../images/prev2.png) 50% 50% no-repeat;
			}
			.gallery-news 
			.galleria-thumb-nav-right {
				background: #efefef url(../images/next2.png) 50% 50% no-repeat;
			}
			.gallery-news 
			.galleria-thumb-nav-right:hover {
				background: #efefef url(../images/next2.png) 50% 50% no-repeat;
			}
			.gallery-news 
			.galleria-thumb-nav-left:hover {
				background: #efefef url(../images/prev2.png) 50% 50% no-repeat;
			}
			.gallery-news 
			.galleria-image-nav {display: none;}

	.article__h3 {
		color: #003146;
		font: normal 24px 'myriad_pro_condbold';
		margin-bottom: 18px;
	}
	.pop-news {
		overflow: hidden;
		margin: 0 -20px 40px 0;
	}
		.pop-news__item {
			float: left;
			width: 140px;
			text-align: left;
			margin-right: 19px;
		}
			.pop-news__item a {
				display: block;
				font-size: 20px;
			}
				.pop-news__img {margin-bottom: 10px;}
				.pop-news__item img {
					margin-bottom: 0;
				}
			.pop-news__item .date {padding: 0;}
	.right-col 
	.describe {
		margin: 20px 9px 10px;
	}
	.right-col  .entry {
		border-top: 0;
	}
	.left-col__wrapper_mod {
		border-right: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
	}
	.left-col__wrapper_article {
		border-right: 1px solid #ececec;
	}