@font-face {
    font-family: 'myriad_pro_condbold';
    src: url('../fonts/myriadpro-boldcond-webfont.eot');
    src: url('../fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-boldcond-webfont.woff') format('woff'),
         url('../fonts/myriadpro-boldcond-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_DINCondensedC';
	src: url('../fonts/DINCondensedC.eot');
	src: local('☺'), url('../fonts/DINCondensedC.woff') format('woff'), 
	url('../fonts/DINCondensedC.ttf') format('truetype'), 
	url('../fonts/DINCondensedC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}
body, html {height: 100%;}
img,fieldset {border:none;}
input[type="submit"] {cursor:pointer;}
textarea {overflow: auto;}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {outline: none;}
ul,ol {list-style-type: none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
 display: block;
}
table {border-spacing: 0;border-collapse: collapse;}
/* ------------------------------------- //END Reset css --------------------------------------- */

/* ------------------------------------- Main styles ------------------------------------------- */
body {
	min-width: 960px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #fff;
}
a {
	color: #003146;
	text-decoration: none;
	font: normal 18px 'myriad_pro_condbold', Arial, sans-serif;
}
.layout {
	width: 960px;
	margin: 0 auto -542px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.push {
	clear: both;
	height: 542px;
}
.l-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.clr {clear: both;}
.h1 {
	font: normal 40px 'myriad_pro_condbold', Arial, sans-serif;
	color: #003146;
}
.h2 {
	font: normal 30px 'myriad_pro_condbold', Arial, sans-serif;
	color: #2a7b9e;
}
/* ------------------------------------- //END Main styles --------------------------------- */

/* ------------------------------------- Header -------------------------------------------- */
.header {
	height: 121px;
	width: 960px;
	position: relative;
}
	/* search */
	.header__search {
		position: absolute;
		top: 65px;
		left: 0;
		width: 298px;
		height: 31px;
	}
		.header__input {
			width: 100%;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 8px 30px 7px 5px;
			border: 0;
			background: #e8f3f8;
			font-size: 13px;
		}
		.header__submit {
			position: absolute;
			right: 11px;
			top: 50%;
			margin-top: -6px;
			width: 13px;
			height: 13px;
			border: 0;
			background: url(../images/glass.png) 0 0 no-repeat;
		}
	/* logo */
	.header__logo {
		position: absolute;
		top: 21px;
		left: 381px;
		width: 185px;
		height: 82px;
		background: url(../images/logo.png) 0 0 no-repeat;
	}
	/* social horizontal */
	.header__soc {
		position: absolute;
		right: 113px;
		top: 74px;
		width: 214px;
		height: 20px;
	}
		.header__soc li {
			float: left;
		}
			.header__soc a {
				float: left;
				width: 20px;
				height: 20px;
				background: url(../images/soc-header.png) no-repeat;
			}
			.header__soc a:hover {
				background: url(../images/soc-header-hover.png) no-repeat;
			}
			.header__soc-fb {
				margin-right: 20px;
				background-position: 7px 0 !important;
			}
			.header__soc-tw {
				margin-right: 18px;
				background-position: -32px 1px !important;
			}
			.header__soc-g {
				margin-right: 20px;			
				background-position: -70px 0 !important;
			}
			.header__soc-vk {
				margin-right: 16px;
				background-position: -110px 0 !important;
			}
			.header__soc-yt {
				margin-right: 16px;
				background-position: -146px 0 !important;
			}
			.header__soc-rss {
				margin-right: 0 !important;
				background-position: 100% 0 !important;
			}
	/* on air */
	.header__on-air {
		position: absolute;
		top: 65px;
		right: 0;
		width: 96px;
		height: 32px;
		background: #013348;
		text-align: center;
	}
		.header__on-air b {
			font: bold 13px 'Conv_DINCondensedC','Arial', sans-serif;
			text-transform: uppercase;
			color: #fff;
		}
		.header__on-air span {
			margin-top: -4px;
			display: block;
			color: #76a8be;
			font: normal 11px 'Helvetica',sans-serif;
		}
	/* languages */
	.header__lang {
		position: absolute;
		right: 0;
		top: 16px;
	}
		.header__lang a {
			color: #003146;
			font: normal 12px 'Conv_DINCondensedC';
			text-transform: uppercase;
			margin-left: 2px;
		}	
		.header__lang-active {color: #c3c3c3 !important;}
/* ------------------------------------- //END Header -------------------------------------- */

/* ------------------------------------- Menu -------------------------------------------- */
nav {
	border-bottom: 3px solid #ececec;
}
.menu {
	position: relative;
	height: 41px;
	border-bottom: 3px solid #000;
}
	.menu li {
		float: left;
		margin-right: 11px;
	}
		.menu a {
			color: #003146;
			font: normal 24px/44px 'myriad_pro_condbold';
			text-transform: uppercase;
			padding: 8px 25px 6px;
		}
		.menu__active {
			color: #fff !important;
			background: url(../images/menu.png) 0 0 repeat-x;
		}
		.menu__active:hover {
			background: url(../images/menu.png) 0 0 repeat-x !important;
		}
		.menu a:hover {
			background: url(../images/menu-hover.png) 0 0 repeat-x;
		}
		.menu li:hover .menu__sub {display: block;}
		.menu__sub {
			display: none;
			position: absolute;
			z-index: 2;
			top: 40px;
			left: 0;
			height: 36px;
			width: 948px;
			border-bottom: 3px solid #000;
			background: url(../images/menu.png) 0 0 repeat-x;
			overflow: hidden;
			padding-left: 12px;
			z-index: 100;
		}
			.menu__sub li:last-child {float: right;}
				.menu__sub a {
					color: #76a8be;
					font-size: 18px;
					line-height: 37px;
					padding: 8px 15px;
					text-transform: capitalize;
				}
				.menu__sub a:hover {
					color: #fff;
					background: none;
				}
/* ------------------------------------- //END Menu -------------------------------------- */

/* ------------------------------------- Independent blocks ------------------------------- */

/* banner describtion block */
.banner {position: absolute;}
	.banner__title {
		display: block;
		color: #fff;
		background: #12526d; /* Old browsers */
		background: -moz-linear-gradient(left, #12526d 0%, #03364c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#12526d), color-stop(100%,#03364c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, #12526d 0%,#03364c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, #12526d 0%,#03364c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, #12526d 0%,#03364c 100%); /* IE10+ */
		background: linear-gradient(to right, #12526d 0%,#03364c 100%); /* W3C */
	}
	.banner__descr {
		background: #fff;
		color: #000;
	}
.banner_big {
	top: 181px;
	right: 0;
}
	.banner__title_big {
		padding: 16px 43px 19px;
		font: normal 40px/23px 'myriad_pro_condbold';
	}
	.banner__descr_big {
		width: 255px;
		margin-left: 23px;
		padding: 13px 35px 10px;
		font: normal 18px/20px 'Helvetica', sans-serif;
	}
.banner_small {
	top: 38px;
	right: 9px;
	width: 342px;
}
	.banner__title_small {
		padding: 11px;
		font: normal 30px/23px 'myriad_pro_condbold';
	}
	.banner__descr_small {
		margin-left: 54px;
		padding: 8px 15px 10px 23px;
		font: normal 13px/18px 'Helvetica', sans-serif;
	}
.banner_smaller {
	top: 38px;
	right: 9px;
	width: 321px;
}
	.banner__title_smaller {
		padding: 11px;
		font: normal 30px/23px 'myriad_pro_condbold';
		margin-left: 52px;
	}
	.banner__descr_smaller {
		padding: 8px 15px 10px 16px;
		font: normal 13px/18px 'Helvetica', sans-serif;
	}


/* title */
.title {
	position:relative;
	height: 36px;
	background: url(../images/title-bg.png) 0 0 repeat-x;
}
	.title__level-2 {
		color: #003146;
		font: normal 30px/40px 'myriad_pro_condbold';
		text-transform: uppercase;
		padding-left: 11px;
	}
	.title__all {
		position: absolute;
		right: 6px;
		top: 5px;
		font: normal 13px/25px 'Arial', sans-serif;
		color: #003146;
		background: #fff;
		padding: 0 9px;
	}

/* label */
.label {
	padding: 0 9px;
	font: normal 13px 'Conv_DINCondensedC';
	text-transform: uppercase;
	color: #2a7b9e;
	background: #dbeef6;
}
.label_index {margin-left: -1px;}

/* describe form */
.describe {
	width: 300px;
	height: 90px;
	background: url(../images/describe-bg.png) 0 0 repeat-x;
}
	.describe__wrapper {
		height: 78px;
		padding: 7px 5px 5px 78px;
		background: url(../images/descr-latter.png) 5px 5px no-repeat;
	}
		.describe__title {
			font: normal 22px/18px 'myriad_pro_condbold';
			color: #003146;
			margin-bottom: 4px;
		}
			.describe__title a {
				font: normal 22px/18px 'myriad_pro_condbold';
				color: #003146;
				border-bottom: 1px dashed #b6c9d0;
			}
		.describe__form {
			overflow: hidden;
		}
			.describe__label {
				font: normal 13px/16px 'Helvetica', sans-serif;
				color: #003146;
				display: block;
				margin-bottom: 9px;
			}
			.describe__input {
				float: left;
				border: 1px solid #98b2bc;
				border-right: 0;
				font: normal 13px/18px 'Helvetica', sans-serif;
				padding: 4px 6px;
				width: 118px;
				color: #7d7d7d;
				margin: 0;
				height: 18px;
			}
				.describe__input:-moz-placeholder {color: #7d7d7d;}
            	.describe__input::-webkit-input-placeholder {color: #7d7d7d;}
			.describe__submit {
				float: left;
				width: 84px;
				height: 28px;
				background: #243954;
				border: 0;
				font: normal 13px 'Conv_DINCondensedC';
				text-transform: uppercase;
				color: #fff;
			}

/* most discussed */
.most-disc {
	background: url(../images/filter.png) 0 0 repeat;
	padding: 11px;
}
	.most-disc__wrapper {
		background: #fff;
		text-align: center;
		padding: 13px 28px 10px;
	}
		.most-disc__title-level-3 {
			color: #003146;
			font: normal 24px 'myriad_pro_condbold';
		}
		.most-disc__trend {
			font: normal 13px 'Conv_DINCondensedC';
			color: #6b6b6b;
			text-transform: uppercase;
		}
		.most-disc__item {
			font: normal 13px/18px 'Helvetica', sans-serif;
			margin-bottom: 18px;
		}
			.most-disc__number {
				position: relative;
				font: normal 44px 'Conv_DINCondensedC';
				color: #003146;
				padding: 0 16px;
			}
				.most-disc__number:before,
				.most-disc__number:after {
					content: '';
					position: absolute;
					top: 50%;
					height: 7px;
					width: 7px;
					margin-top: -3px;
					background: #003146;
					-moz-border-radius: 7px;
					-o-border-radius: 7px;
					-webkit-border-radius: 7px;
					border-radius: 7px;
				}
				.most-disc__number:before {
					right: 0;
				}
				.most-disc__number:after {
					left: 0;
				}
/* social */
.fb-plugin {
	padding: 10px 12px;
	background: #fff;
	margin-bottom: -11px;
}
.vk-plugin {
	padding: 10px 12px;
	background: #fff;
}

/* big pagination */
.big-pagin {
	overflow: hidden;
	height: 72px;
	border-top: 1px solid #d0e2ea;
	background: #deeaf0; /* Old browsers */
	background: -moz-linear-gradient(top, #deeaf0 1%, #e8f0f5 25%, #e9f1f5 26%, #e9f1f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#deeaf0), color-stop(25%,#e8f0f5), color-stop(26%,#e9f1f5), color-stop(100%,#e9f1f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* W3C */
}
	.big-pagin li {
		float: left;
		width: 50%;
	}
		.big-pagin a {
			display: block;
			font: normal 24px/71px 'myriad_pro_condbold';
			text-align: center;
			color: #003146;
			height: 71px;
		}
		.big-pagin_prev {
			border-right: 1px solid #d0e2ea;
		}
		.big-pagin_next:hover {
			background: url(../images/big-pagin-next.jpg) 100% 0 no-repeat;
		}
		.big-pagin_prev:hover {
			background: url(../images/big-pagin-prev.jpg) 0 0 no-repeat;
		}
.big-pagin_index {margin-bottom: 20px;}
	.big-pagin_index li {
		width: 100% !important;
	}
	.big-pagin_index li:first-child {display: none;}

.pagin {
	overflow: hidden;
	height: 72px;
	background: #deeaf0; /* Old browsers */
	background: -moz-linear-gradient(top, #deeaf0 1%, #e8f0f5 25%, #e9f1f5 26%, #e9f1f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#deeaf0), color-stop(25%,#e8f0f5), color-stop(26%,#e9f1f5), color-stop(100%,#e9f1f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #deeaf0 1%,#e8f0f5 25%,#e9f1f5 26%,#e9f1f5 100%); /* W3C */
}
	.pagin li {
		float: left;
	}
	.pagin a, .pagin span {
		display: block;
		height: 71px;
		font: normal 24px/71px 'myriad_pro_condbold';
		width: 39px;
		text-align: center;
		border-top: 1px solid #d0e2ea;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
	}
	.pagin a:hover, 
	.pagin span:hover {
		background: #d7eaf3;

	}
	.pagin .pagin_prev,
	.pagin .pagin_next {
		font: normal 13px/71px 'Conv_DINCondensedC', sans-serif;
		text-transform: uppercase;
		color: #2a7b9e;
		width: 342px;
		text-align: center;
	}
	.pagin .pagin_prev {
		border-right: 1px solid #d0e2ea;
		background: url(../images/pagin-prev.png) 15px 24px no-repeat;
	}
	.pagin .pagin_prev:hover {
		color: #2a7b9e;
		background: #d8e9f1 url(../images/pagin-prev-hover.png) 15px 24px no-repeat;
	}
	.pagin .pagin_next {
		border-left: 1px solid #d0e2ea;
		background: url(../images/pagin-next.png) 313px 24px no-repeat;
	}
	.pagin .pagin_next:hover {
		color: #2a7b9e;
		background: #d8e9f1 url(../images/pagin-next-hover.png) 313px 24px no-repeat;
	}
	.pagin .pagin__active,
	.pagin .pagin__active:hover {
		background:#fff;
		border-top: 1px solid #fff;
		color: #7ea8be;
	}
/* video */
.video-items {
	overflow: hidden;
	margin-bottom: 36px;
}
	.video-item_s {
		float: left;
		width: 202px;
		margin-right: 5px;
	}
		.video-item_s a {
			position: relative;
			display: block;
		}
		.video-item_s h4 {
			margin-top: 11px;
		}
			.video-item_s img {display: block;}
			.video-item_s a span {
				position: absolute;
				height: 23px;
				width: 23px;
				background: url(../images/icon-video.png) 0 0 no-repeat;
				bottom: 7px;
				left: 6px;
			}

/* afisha */
.afisha-items {
	overflow: hidden;
}
	.afisha-item {
		float: left;
		width: 135px;
		text-align: left;
		margin-right: 25px;
	}
		.afisha-item__date {
			height: 25px;
			padding-left: 3px;
			font: normal 18px/25px 'myriad_pro_condbold', sans-serif;
			color: #000;
			border-left: 1px solid #dadada;
		}
		.afisha-item__img {
			width: 105px;
			padding: 3px;
			display: block;
			border: 1px solid #dadada;
		}
			.afisha-item__img img {
				display: block;
			}
		.afisha-item__title {
			margin: 11px 0 0 0;
		}
		.afisha-item__descr {
			font: normal 14px 'Conv_DINCondensedC','Arial', sans-serif;
			color: #a8a8a8;
		}

/*breadcrumps
=================================================================*/
.breadcrumps {
	padding: 9px 0;
	overflow: hidden;
}
	.breadcrumps a {
		position: relative;
		float: left;
		margin-right: 3px;
		padding: 0 3px 0 10px;		
		height: 14px;
		background: #dbeef6;
		font-family: 'Conv_DINCondensedC', Arial, sans-serif;
		font-size: 13px;
		line-height: 14px;
		color: #2a7b9e;
		text-decoration: none;
		text-transform: uppercase;
	}
	.breadcrumps span {
		position: absolute;
		top: 0;
		right: -4px;
		width: 0;
	   	height: 0;
	   	border-left: 4px solid #dbeef6;
	   	border-top: 7px solid transparent;
	   	border-bottom: 7px solid transparent;
	   	z-index: 10;
	}
	.breadcrumps i {
		position: absolute;
		top: -6px;
		right: -7px;
		width: 0;
	   	height: 0;
	   	border-left: 7px solid #fff;
	   	border-top: 13px solid transparent;
	   	border-bottom: 13px solid transparent;
	   	z-index: 5;
	}
/*content
=================================================================*/
.content {margin-bottom: 26px;}
.content_search {margin-bottom: 0;}
.content__title {
	position: relative;
	padding-right: 320px;
}
.content__title_s .content__subscribe {
	top: -3px;
}
	.content__subscribe {
		position: absolute;
		top: 9px;
		right: 0;
		width: 301px;
		height: 25px;
	}
		.content__subscribe input {
			width: 158px;
			height: 23px;
			padding: 0 10px;
			border: 1px solid #d0d0d0;
			font: 13px/23px Helvetica, Arial, sans-serif;
			color: #7d7d7d;
		}
		.content__subscribe a {
			position: absolute;
			top: 0;
			left: 179px;
			width: 84px;
			height: 25px;
			background: #243954;
			font: 13px/25px 'Conv_DINCondensedC', Arial, sans-serif;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
		}
		.content__subscribe a:hover {
			background:#365f8d;
		}
		.content__subscribe .content__subscribe-rss {
			left: auto;
			right: 0;
			width: 25px;
			background:url(../images/rss.jpg) no-repeat 0 0;
		}
.detail {
	overflow: hidden;
}
	.detail span {
		float: left;
		font: 14px/20px 'Conv_DINCondensedC', Arial, sans-serif;
	}
	.detail__view {
		padding-left: 16px;
		margin-right: 7px;		
	}
	.detail__com {
		padding-left: 16px;
	}	
.detail_album {
	margin-top: 5px;	
}
	.detail_album span {
		color: #a8a8a8;
	}
	.detail_album .detail__date {margin-right: 20px;}
	.detail_album .detail__view {
		background:url(../images/view-com.png) no-repeat 0 0;
	}
	.detail_album .detail__com {
		background:url(../images/view-com.png) no-repeat 0 -15px
	}
.detail_photo {
	position: absolute;
	left: 9px;
	bottom: 9px;
	height: 20px;
	padding: 0 5px;
	line-height: 20px;
	background: #013144;
	z-index: 10;
}
	.detail_photo span {
		color: #fff;
	}
	.detail_photo .detail__view {
		background:url(../images/view-com1.png) no-repeat 0 0;
	}
	.detail_photo .detail__com {
		padding-left: 16px;
		background:url(../images/view-com1.png) no-repeat 0 -15px;
	}
.social-buttons {
	height: 22px;
	margin: 10px 0 15px 0;
}

/* On air popup */
.on-air-bg {
	display: none;
	position: fixed;
	z-index: 998;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #05181f;
}
.on-air-popup {
	display: none;
	position: absolute;
	z-index: 999;
	top: 30px;
	left: 50%;
	width: 960px;
	height: 790px;
	margin-left: -480px;
}
	.on-air-popup__wrapper {
		position: absolute;
		top: 50px;
		left: 70px;
		width: 814px;
		height: 790px;
		margin: 0 auto
	}
		.on-air-popup__video {
			height: 611px;
			border: 1px solid #000;
			-moz-box-shadow: 0 0 100px #000;
			-o-box-shadow: 0 0 100px #000;
			-webkit-box-shadow: 0 0 100px #000;
			box-shadow: 0 0 100px #000;
		}
		.on-air-popup__descr {
			font: normal 18px 'myriad_pro_condbold', sans-serif;
			color: #375968;
			padding-top: 16px;
		}
			.on-air-popup__descr h5 {
				color: #a8a8a8;
				font-size: 24px;
				margin-bottom: 9px;
			}
				.on-air-popup__descr h5 span {
					font-size: 18px;
					padding-left: 12px;
				}
			.on-air-popup__descr p {

			}
				.on-air-popup__descr p span {color: #414c50;}
			.on-air-popup__program {color: #375968;}
	.on-air-popup__close {
		position: absolute;
		right: 0;
		top: 0;
		width: 16px;
		height: 16px;
		background: url(../images/close.png) 0 -16px no-repeat;
	}
	.on-air-popup__close:hover {
		background: url(../images/close.png) 0 0px no-repeat;
	}
/* ------------------------------------- //END Independent blocks -------------------------- */

/* ------------------------------------- Footer -------------------------------------------- */
.footer {
	position: relative;
	height: 542px;
	overflow: hidden;
	background: url(../images/bg-footer.jpg) 0 0 no-repeat;
	font: normal 12px/18px 'Helvetica', 'Arial', sans-serif;
}
	/* footer logo */
	.footer__logo {
		position: absolute;
		top: 27px;
		left: 25px;
		width: 107px;
		height: 106px;
		background: url(../images/logo-f.png) 0 0 no-repeat;
		text-indent: -2000em;
	}
	/* footer nav cols */
	.footer__row-wrapper {
		position: absolute;
		left: 170px;
		top: 35px;
		width: 540px;
	}
		.footer__row {
			overflow: hidden;
			margin: 0 -30px 14px 0;
		}
			.footer__navitem {
				float: left;
				width: 160px;
				margin-right: 30px;
			}
				.footer__title {
					margin-bottom: 11px;
					color: #fff;
					font: normal 22px 'myriad_pro_condbold';
					text-transform: uppercase;
				}
				.footer a {
					color: #a3a3a3;
					display: inline-block;
					margin-bottom: 3px;
					font: normal 12px/18px 'Helvetica', 'Arial', sans-serif;
				}
				.footer a:hover {color: #8dbdd3;}
				.footer__list {margin-bottom: 24px;}
					.footer__list_recomm li {margin-bottom: 7px;}
						.footer__list_recomm a {
							padding-left: 24px;
							background-image: url(../images/footer-recomm.png);
							background-repeat: no-repeat;
						}
						.footer__list_recomm a:hover {
							background-image: url(../images/footer-recomm-hover.png);
						}
						.footer__link2 {background-position: 0 -25px;}
						.footer__link3 {background-position: 0 -49px;}
						.footer__link4 {background-position: 0 -73px;}
	/* footer socials */
	.footer__soc-wrapper {
		position: absolute;
		right: 10px;
		width: 161px;
		top: 35px;
	}
		.footer__soc li {
			height: 28px;
			margin-bottom: 11px;
		}
			.footer__soc {margin-top: 14px;}
				.footer__soc a {
					padding: 0 0 18px 40px;
					line-height: 10px;
					background-image: url(../images/soc-footer.png);
					background-repeat: no-repeat;
				}
				.footer__soc a:hover {
					background-image: url(../images/soc-footer-hover.png);
				}
				.footer__tv {background-position: 0 -39px;}
				.footer__g {background-position: 0 -78px;}
				.footer__vk {background-position: 0 -117px;}
				.footer__yt {background-position: 0 -156px;}
				.footer__rss {background-position: 0 -195px;}
	/* footer friends */
	.footer__friends-wrapper {
		position: absolute;
		bottom: 45px;
		left: 25px;
		width: 910px;
		padding-top: 14px;
		border-top: 2px solid #3d3333;
	}
		.footer__friends-title {
			position: absolute;
			top: -11px;
			width: 100%;
			font: normal 18px 'myriad_pro_condbold';
			color: #fff;
			text-align: center;
		}
			.footer__friends-title span {
				padding: 0 13px;
				background: #000;
			}
		.footer__friends {
			height: 55px;
			overflow: hidden;
		}
			.footer__friends li {
				display: inline-block;
			}
				.footer__friends a {
					display: block;
					height: 55px;
					background-image: url(../images/footer-fr.png);
					background-repeat: no-repeat;
				}
				.footer__fr1 {
					width: 127px;
					background-position: 28px 0;
				}
				.footer__fr2 {
					width: 160px;
					background-position: -106px 0;
				}
				.footer__fr3 {
					width: 130px;
					background-position: -263px 0;
				}
				.footer__fr4 {
					width: 130px;
					background-position: -388px 0;
				}
				.footer__fr5 {
					width: 100px;
					background-position: -523px 0;
				}
				.footer__fr6 {
					width: 80px;
					background-position: -624px 0;
				}
				.footer__fr7 {
					width: 80px;
					background-position: -710px 0;
				}
				.footer__fr8 {
					width: 80px;
					background-position: -792px 0;
				}

	/* footer links */
	.footer__links {
		position: absolute;
		bottom: 14px;
		width: 100%;
		text-align: center;
	}
		.footer__links a {
			margin-left: 10px;
		}

/* hacks */
*:first-child+html .search__input {
	width: 263px;
	line-height: 15px;
}
*+html .last-albums__item-b,
*+html .footer__friends li {
	display: inline;
	zoom: 1;
}  