.menu__sub .menu__fashion-people,
.menu__sub .menu__fashion-people:hover {
	padding-left: 22px;
	background: url(../images/u.png) 0 11px no-repeat;
}
.search-head_fashion {
	box-shadow: none;
	padding: 0 10px 0 0;
	background: url(../images/filter3.png) 0 0 repeat;
	overflow: hidden;

}
	.search-form_fashion {
		float: left;
		width: 540px;
	}
	.search-form_fashion \
	.search-form__input {
		width: 82%;
	}
	.search-form_s{
		float: left;
		width: 53px;
		padding-right: 0;
	}
	.search-form_s 
	.search-form__input {
		width: 22px;
		padding: 0;
	}
	.search-form_s 
	.search-form__submit {
		right: 0;
		width: 33px;
		background-position: 50% 50%;
	}
	.search-letter {
		float: right;
		margin-top: 10px;
		width: 41px;
		height: 31px;
		overflow: hidden;
	}
	.search-letter_width {
		width: 546px;
	}
	.search-letter_width
	.search-letter__diapazon {
		width: 34px;
	}
	.search-letter__diapazon {
		float: left;
		width: 41px;
		height: 31px;
		color: #fff;
		text-align: center;
		line-height: 31px;
		font-size: 15px;
		background: #002d41;
		background: rgba(0,45,65,0.9);
	}
	.search-letter__list {
		float: left;
		height: 31px;
		width: 502px;
		background: #fff;
		padding: 0 0 0 10px;
	}
		.search-letter__list a {
			display: inline-block;
			margin-right: 7px;
			font-size: 14px;
			line-height: 31px;
		}
		.search-letter__act {
			color: #2a7b9e;
		}
		.search-letter__inact {
			color: #c2c2c2;
		}
	.search-title {
		margin: 12px 0 0 -10px;
		padding-left: 9px;
		color: #003146;
		background: #E7F2F7 url(../images/menu-hover.png) 0 0 repeat;
		font: normal 18px/34px 'myriad_pro_condbold';
	}
	.two-cols-wrapper_vacancy 
	.search-result__img {
		width: 110px;
	}.two-cols-wrapper_vacancy 
	.search-result__block {
		margin-right: 110px;
	}

.index-cols_mod {
	border-top: 1px solid #ececec;
}
	.index-left-search {
		padding: 10px;
		background: #fff;
	}

.letters {
	height: 29px;
	padding: 8px 10px 0;
	overflow: hidden;
	background: #E7F2F7 url(../images/menu-hover.png) 0 0 repeat;
	-webkit-box-shadow: inset 0 1px 2px #c1d4de;
	-moz-box-shadow: inset 0 1px 2px #c1d4de;
	-o-box-shadow: inset 0 1px 2px #c1d4de;
	box-shadow: inset 0 1px 2px #c1d4de;
}
	.letter__list {
		float: left;
		width: 909px;
		height: 23px;
		line-height: 23px;
		text-align: center;
	}
		.letter__list a {
			display: inline-block;
			margin-right: 19px;
		}
		.letter__inact {
			color: #fff;
		}
	.letters 
	.search-letter__diapazon {
		float: right;
		width: 31px;
		height: 23px;
		line-height: 23px;
	}
.best-week {
	background: url(../images/filter.png) 0 0 repeat;
	padding: 11px;
}
	.best-week__wrapper {
		background: #fff;
		padding: 7px 5px 11px 10px;
	}
		.best-week__item {
			overflow: hidden;
			margin-bottom: 27px;
		}
			.best-week__wrapper
			.h3 {
				margin-bottom: 13px;
			}
			.best-week__img-link {
				float: left;
				margin-right: 8px;
				width: 87px;
				height: 65px;
				border: 1px solid #dadada;	
			}
			.best-week__text {
				overflow: hidden;
				font-size: 13px;
			}
			.best-week__text h4 {
				color: #003146;
				font: normal 18px/15px 'myriad_pro_condbold';
				margin-bottom: 8px;
			}
.last-albums_s {
	margin: 0 0 -43px 10px;
}
	.last-albums_s .h2 {
		margin-top: 16px;
	}
	.last-albums_s 
	.last-albums__item-b {
		width: 176px;
		height: 123px;
		margin-bottom: 74px;
		margin-right: 33px;
	}
	.last-albums_s 
	.last-albums__pic {
		height: 121px;
	}
	.last-albums_s 
	.last-albums__pic span
	{
		height: 117px;
		width: 170px;
	}
	.h3_same {
		height: 48px;
		line-height: 48px;
		padding-left: 10px;
		background: #E7F2F7 url(../images/menu-hover.png) 0 0 repeat;
	}
.photogr {
	padding: 0 10px;
}
	.photogr__item {
		overflow: hidden;
		margin: 0 10px 26px 0;
	}
		.photogr__img {
			float: left;
			width: 148px;
			height: 148px;
			margin-right: 12px;
			overflow: hidden;
		}
			.photogr__img img {
				display: block;
			}
		.photogr__descr {
			overflow: hidden;
			font-size: 13px;
		}
			.photogr__descr .h3 {
				margin-bottom: 7px;
			}
			.photogr__descr p {
				margin-bottom: 3px;
			}
			.photogr__descr a {
				color: #2a7b9e;
				font: normal 11px Helvetica,sans-serif;
			}
.pagin_photogr li {
	width: 50%;
}
.pagin_photogr .pagin_prev,
.pagin_photogr .pagin_next {
	width: 100%;
	color: #003146;
	font: normal 18px/62px 'myriad_pro_condbold' !important;
}

.brand .photogr__img {
	width: 188px;
	height: 112px;
	border: 1px solid #dadada;
}
