.menu__sub .menu__fashion-people,
.menu__sub .menu__fashion-people:hover {
	padding-left: 22px;
	background: url(../images/u.png) 0 11px no-repeat;
}
.search-head_fashion {
	box-shadow: none;
	padding: 0 10px 0 0;
	background: url(../images/filter3.png) 0 0 repeat;
	overflow: hidden;

}
	.search-form_fashion {
		float: left;
		width: 540px;
	}
	.search-form_fashion \
	.search-form__input {
		width: 82%;
	}
	.search-form_s{
		float: left;
		width: 53px;
		padding-right: 0;
	}
	.search-form_s 
	.search-form__input {
		width: 22px;
		padding: 0;
	}
	.search-form_s 
	.search-form__submit {
		right: 0;
		width: 33px;
		background-position: 50% 50%;
	}
	.search-letter {
		float: right;
		margin-top: 10px;
		width: 41px;
		height: 31px;
		overflow: hidden;
	}
	.search-letter_width {
		width: 546px;
	}
	.search-letter_width
	.search-letter__diapazon {
		width: 34px;
	}
	.search-letter__diapazon {
		float: left;
		width: 41px;
		height: 31px;
		color: #fff;
		text-align: center;
		line-height: 31px;
		font-size: 15px;
		background: #002d41;
		background: rgba(0,45,65,0.9);
	}
	.search-letter__list {
		float: left;
		height: 31px;
		width: 502px;
		background: #fff;
		padding: 0 0 0 10px;
	}
		.search-letter__list a {
			display: inline-block;
			margin-right: 7px;
			font-size: 14px;
			line-height: 31px;
		}
		.search-letter__act {
			color: #2a7b9e;
		}
		.search-letter__inact {
			color: #c2c2c2;
		}
	.search-title {
		margin: 12px 0 0 -10px;
		padding-left: 9px;
		color: #003146;
		background: #E7F2F7 url(../images/menu-hover.png) 0 0 repeat;
		font: normal 18px/34px 'myriad_pro_condbold';
	}
	.two-cols-wrapper_vacancy 
	.search-result__img {
		width: 110px;
	}.two-cols-wrapper_vacancy 
	.search-result__block {
		margin-right: 110px;
	}