/* look styles
=================================================================*/
.two-cols-wrapper_look {
	border: 1px solid #ececec;
	border-bottom: none;
	background: none;
}
	.two-cols-wrapper_look .left-col {
		width: 400px;
	}
	.two-cols-wrapper_look .right-col {
		width: 558px;
	}
.new-look__step {
	width: 32px;
	height: 32px;
	background: #003146;
	font: 25px/32px 'myriad_pro_condbold', Arial, sans-serif;
	color: #fff;
	text-align: center;
}
.new-look__pic {
	position: relative;
}
	.new-look__pic p {
		position: absolute;
		top: 245px;
		left: 35px;
		text-align: center;
		font-size: 12px;
		line-height: 1.3;
	}
	.new-look__pic img {
		display: block;
	}
	.new-look__pic .new-look__step {
		position: absolute;
		top: 15px;
		left: 15px; 
	}
.new-look__pic_active img {
	border-bottom: 3px solid #003416;
}
.new-look__load {
	position: relative;
	height: 32px;
	width: 140px;
	margin: 10px 0 105px 0;
	background: #003146;	
}
.new-look__load_detail {
	margin: 10px 0 10px 0;
}
	.new-look__load span {
		padding-left: 27px;
		background:url(../images/new-look-load.png) no-repeat 10px 50%;
		font: 15px/32px 'myriad_pro_condbold', Arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
	.new-look__add-detail {
		display: block;
		width: 115px;
		height: 32px;
		padding-left: 35px;
		background:url(../images/new-look-add.png) no-repeat 10px 50%;
		font: 15px/32px 'myriad_pro_condbold', Arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
	.new-look__load input {
		position: absolute;
		top: 0;
		left: 0;
		height: 32px;
		width: 140px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
.new-look__details {
	overflow: hidden;
}
	.new-look__detail {
		position: relative;
		float: left;
		margin-right: 10px;
		width: 78px;
		height: 78px;
	}
		.new-look__detail img {
			opacity: 0.5;
			filter: alpha(opacity=50);
		}
		.new-look__detail:hover img {
			opacity: 1;
			filter: alpha(opacity=100);
		}
		.new-look__detail:hover span {
			display: block;
		}
		.new-look__detail span {
			display: none;
			position: absolute;
			top: 3px;
			right: 3px;
			width: 18px;
			height: 18px;
			background:url(../images/close-detail.png) no-repeat 0 0;
			cursor: pointer;
		}
.new-look__user {
	margin-top: 8px;
}
	.new-look .new-look__field {
		overflow: hidden;
		margin-bottom: 15px;
	}
		.new-look .new-look__field span {
			float: left;
			width: 115px;
			font: 23px/23px 'MyriadPro-Cond', Arial, sans-serif;
		}
		.new-look .new-look__field b {
			color: #d9d9d9;
		}
		.new-look .new-look__field input {
			float: left;
			height: 23px;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #ccc;
			padding: 0;
			font: 20px/22px 'myriad_pro_condbold', Arial, sans-serif;
		}
		.new-look .new-look__field input.new-look__age {
			width: 45px;
			margin-right: 17px;
		}
		.new-look .new-look__field input.new-look__city {
			background:url(../images/arr.png) no-repeat 98% 70%;
		}
		.new-look .new-look__field input.new-look__sex {
			width: 90px;
			background:url(../images/arr.png) no-repeat 98% 70%;
		}
		.new-look .new-look__field span.new-look__mail {
			width: auto;
			margin-left: 115px;
			font: 12px/32px Arial, sans-serif;
		}
	.new-look .new-look__save {
		margin-top: 10px;
		overflow: hidden;
	}
		.new-look .new-look__save input {
			float: left;
			height: 32px;
			background: #d9d9d9;
			border: none;
			margin: 0;
			padding: 0 15px;		
			font: 15px/32px 'myriad_pro_condbold', Arial, sans-serif;
			color: #fff;
			text-transform: uppercase;
		}
		.new-look__save .new-look__step {
			float: left;
			margin-right: 5px;
		}
	.new-look .new-look__save_active input {
		padding: 0 10px 0 30px;
		background:url(../images/ok.png) no-repeat 8px 50% #003146;
	}
	.new-look h2 {
		margin-top: 10px;		
		font: 30px/32px 'myriad_pro_condbold', Arial, sans-serif;
		overflow: hidden;
	}
		.new-look h2 .new-look__step {
			float: left;
			margin-right: 5px;
		}
		.new-look i {
			float: right;
			margin-top: 10px;
			font: normal 12px Arial, sans-serif;
		}
	.new-look .new-look__field input::-webkit-input-placeholder {
	   font: normal 20px 'MyriadPro-Cond', Arial, sans-serif;
	   color: #d9d9d9;
	}
	.new-look .new-look__field input:-moz-placeholder {
	   font: normal 20px 'MyriadPro-Cond', Arial, sans-serif;
	   color: #d9d9d9;
	}
.new-look__added {
	position: relative;
	height: 38px;
	padding: 0 40px 0 15px;
	margin-top: 10px;
	overflow: hidden;
}
	.new-look__added p, .new-look__added a {
		font: 16px/38px 'Conv_DINCondensedC', Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
	}
	.new-look__added a {
		float: right;
	}
	.new-look__added p {
		float: left;
	}
	.new-look__added i {
		position: absolute;
		top: 5px;
		right: 12px;
		width: 8px;
		height: 8px;
		background:url(../images/new-look-del.png) no-repeat 0 0;
		cursor: pointer;
	}
		.new-look__added span {
			margin: 0 20px 0 5px;
			font: 16px/38px 'myriad_pro_condbold', Arial, sans-serif;
			text-transform: uppercase;
			color: #fff;
		}
.new-look__dress {
	margin-top: 10px;
	padding: 11px 12px 17px 15px;
	background:url(../images/menu-hover.png);
	overflow: hidden;
}	
	.new-look__dress .new-look__field {

	}
		.new-look__dress .new-look__field span {
			width: 90px;
			font: 23px/27px 'MyriadPro-Cond', Arial, sans-serif;
		}
		.new-look__dress .new-look__field p, .new-look__dress .new-look__field input {
			float: left;
			border: none;
			width: 410px;
			padding-left: 10px;
			height: 27px;			
		}
		.new-look__dress .new-look__field input {
			font: 20px/27px 'myriad_pro_condbold', Arial, sans-serif;
		}
		.new-look__dress .new-look__field p {
			background: url(../images/arr.png) no-repeat 98% 50% #fff;
			font: 20px/27px 'MyriadPro-Cond', Arial, sans-serif;
			color: #ccc;
			cursor: pointer;
		}
		.new-look__dress .new-look__field p strong {
			background: url(../images/arr.png) no-repeat 98% 50% #fff;
			font: 20px/27px 'myriad_pro_condbold', Arial, sans-serif;
			color: #000;
		}
		.new-look__dress .new-look__field-bg {
			background:url(../images/arr.png) no-repeat 98% 50% #fff;
		}
		.new-look__dress .new-look__field .new-look__price {
			width: 170px;
			margin-right: 10px;
		}
		.new-look__dress a {
			float: left;
			margin-left: 90px;
			height: 27px;
			padding: 0 8px;
			background: #2a7b9e;
			font: 16px/27px 'MyriadPro-Cond', Arial, sans-serif;
			color: #fff;
			text-transform: uppercase;
		}
.new-look__edit {
	display: none;
}
	.new-look__edit .new-look__dress {	
		margin-top: 0px;
		padding: 11px 7px 12px 10px;
	}
		.new-look__edit .new-look__dress em {
			float: left;
			margin: 5px 5px 0 0;
			width: 16px;
			height: 16px;
		}		