/* look styles
=================================================================*/
.two-cols-wrapper_look {
	border: 1px solid #ececec;
	border-bottom: none;
	background: none;
}
	.two-cols-wrapper_look .left-col {
		width: 400px;
	}
	.two-cols-wrapper_look .right-col {
		width: 558px;
	}
.new-look__step {
	width: 32px;
	height: 32px;
	background: #003146;
	font: 25px/32px 'myriad_pro_condbold', Arial, sans-serif;
	color: #fff;
	text-align: center;
}
.new-look__pic {
	position: relative;
	height: 570px;
}
	.new-look__pic p {
		position: absolute;
		top: 245px;
		left: 35px;
		text-align: center;
		font-size: 12px;
		line-height: 1.3;
	}
	.new-look__pic div {
		-webkit-box-shadow: 0px 0px 10px 10px #fff, 0px 0px 5px -1px #fff;
		-moz-box-shadow: 0px 0px 10px 10px #fff, 0px 0px 5px -1px #fff;
		box-shadow: 0px 0px 0px 10px #fff, 0px 0px 5px -1px #fff;
	}
	.new-look__pic canvas {
		
	}
	.new-look__pic img {
		position: absolute;
		top: 0;
		left: 0;
	}
	.new-look__pic .new-look__step {
		position: absolute;
		top: 15px;
		left: 15px; 
	}
.new-look__pic_active img {
	border-bottom: 3px solid #003416;
}
.new-look__load {
	position: relative;
	height: 32px;
	width: 140px;
	margin: 10px 0 105px 0;
	background: #003146;	
}
.new-look__load_detail {
	margin: 10px 0 10px 0;
}
	.new-look__load span {
		padding-left: 27px;
		background:url(../images/new-look-load.png) no-repeat 10px 50%;
		font: 15px/32px 'myriad_pro_condbold', Arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
	.new-look__add-detail {
		display: block;
		width: 115px;
		height: 32px;
		padding-left: 35px;
		background:url(../images/new-look-add.png) no-repeat 10px 50%;
		font: 15px/32px 'myriad_pro_condbold', Arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
	.new-look__load input {
		position: absolute;
		top: 0;
		left: 0;
		height: 32px;
		width: 140px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
.new-look__details {
	overflow: hidden;
}
	.new-look__detail {
		position: relative;
		float: left;
		margin-right: 10px;
		width: 78px;
		height: 78px;
	}
		.new-look__detail img {
			opacity: 0.5;
			filter: alpha(opacity=50);
		}
		.new-look__detail:hover img {
			opacity: 1;
			filter: alpha(opacity=100);
		}
		.new-look__detail:hover span {
			display: block;
		}
		.new-look__detail span {
			display: none;
			position: absolute;
			top: 3px;
			right: 3px;
			width: 18px;
			height: 18px;
			background:url(../images/close-detail.png) no-repeat 0 0;
			cursor: pointer;
		}
.new-look__user {
	margin-top: 8px;
	overflow: hidden;
}
	.new-look__user_mod .new-look__sex ul {
		left: 129px;
	}
	.new-look .new-look__field, .add-comment__field {
		overflow: hidden;
		margin-bottom: 15px;
	}
		.new-look .new-look__field span, .add-comment__field span {
			float: left;
			width: 115px;
			font: 20px 'MyriadPro-Cond', Arial, sans-serif;
		}
		.new-look .new-look__field b {
			color: #d9d9d9;
		}
		.new-look .new-look__field input {
			float: left;
			height: 23px;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #ccc;
			padding: 0;
			font: 20px/22px 'myriad_pro_condbold', Arial, sans-serif;
		}
		.new-look .new-look__field input.new-look__age {
			width: 45px;
			margin-right: 17px;
		}
		.new-look .new-look__field input.new-look__city {
			background:url(../images/arr.png) no-repeat 98% 70%;
		}
		.new-look .new-look__sex {
			position: relative;
			overflow: visible;
		}
			.new-look__sex input {
				width: 90px;
				background:url(../images/arr.png) no-repeat 98% 70%;
				cursor: pointer;
			}
				.new-look__sex ul {
					display: none;
					position: absolute;
					top: -11px;
					left: 102px;
					padding: 5px;
					width: 90px;
					border: 3px solid #2a7b9e;
					background: #fff;
				}
					.new-look__sex li {
						height: 32px;
						padding-left: 5px;
						font: 20px/32px 'myriad_pro_condbold', Arial, sans-serif;
						color: #2a7b9e;
						cursor: pointer;
					}
						.new-look__sex li:hover {
							background: #2a7b9e;
							color: #fff;
						}
		.new-look .new-look__field span.new-look__mail {
			width: auto;
			margin-left: 115px;
			font: 12px/32px Arial, sans-serif;
		}
	.new-look .new-look__save {
		margin-top: 10px;
		overflow: hidden;
	}
		.new-look .new-look__save input {
			float: left;
			height: 32px;
			background: #d9d9d9;
			border: none;
			margin: 0;
			padding: 0 15px;		
			font: 15px/32px 'myriad_pro_condbold', Arial, sans-serif;
			color: #fff;
			text-transform: uppercase;
		}
		.new-look__save .new-look__step {
			float: left;
			margin-right: 5px;
		}
	.new-look .new-look__save_active input {
		padding: 0 10px 0 30px;
		background:url(../images/ok.png) no-repeat 8px 50% #003146;
	}
	.new-look h2 {
		margin-top: 10px;		
		font: 30px/32px 'myriad_pro_condbold', Arial, sans-serif;
		overflow: hidden;
	}
		.new-look h2 .new-look__step {
			float: left;
			margin-right: 5px;
		}
		.new-look i {
			float: right;
			margin-top: 10px;
			font: normal 12px Arial, sans-serif;
		}
	.new-look .new-look__field input::-webkit-input-placeholder {
	   font: normal 20px 'MyriadPro-Cond', Arial, sans-serif;
	   color: #d9d9d9;
	}
	.new-look .new-look__field input:-moz-placeholder {
	   font: normal 20px 'MyriadPro-Cond', Arial, sans-serif;
	   color: #d9d9d9;
	}
.new-look__added {
	position: relative;
	height: 38px;
	padding: 0 40px 0 15px;
	margin-top: 10px;
	overflow: hidden;
}
	.new-look__added p, .new-look__added a {
		font: 16px/38px 'Conv_DINCondensedC', Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
	}
	.new-look__added a {
		float: right;
	}
	.new-look__added p {
		float: left;
	}
	.new-look__added i {
		position: absolute;
		top: 5px;
		right: 12px;
		width: 8px;
		height: 8px;
		background:url(../images/new-look-del.png) no-repeat 0 0;
		cursor: pointer;
	}
		.new-look__added span {
			margin: 0 20px 0 5px;
			font: 16px/38px 'myriad_pro_condbold', Arial, sans-serif;
			text-transform: uppercase;
			color: #fff;
		}
.new-look__dress,
.new-look__pass {
	margin-top: 10px;
	padding: 11px 12px 17px 15px;
	background:url(../images/menu-hover.png);	
}	
.new-look__pass {
	overflow: hidden;
}
.new-look__pass {
	width: 514px;
}
		.new-look__dress .new-look__field span {
			width: 90px;
			font: 20px 'MyriadPro-Cond', Arial, sans-serif;
		}
		.new-look__dress .new-look__field p, .new-look__dress .new-look__field input, .add-comment__field input {
			float: left;
			border: none;
			width: 410px;
			padding-left: 10px;
			height: 27px;			
		}
		.new-look__dress .new-look__field input {
			font: 20px/27px 'myriad_pro_condbold', Arial, sans-serif;
		}
		.new-look__dress .new-look__field p {
			background: #fff;
			font: 20px/27px 'MyriadPro-Cond', Arial, sans-serif;
			color: #ccc;
			cursor: pointer;
		}
		.new-look__dress .new-look__field p strong {
			background: url(../images/arr.png) no-repeat 98% 50% #fff;
			font: 20px/27px 'myriad_pro_condbold', Arial, sans-serif;
			color: #000;
		}
		.new-look__dress .new-look__field-bg {
			background:url(../images/arr.png) no-repeat 98% 50% #fff;
		}
		.new-look__dress .new-look__field .new-look__price {
			width: 170px;
			margin-right: 10px;
		}
		.new-look__dress a {
			float: left;
			margin-left: 90px;
			height: 27px;
			padding: 0 8px;
			background: #2a7b9e;
			font: 16px/27px 'MyriadPro-Cond', Arial, sans-serif;
			color: #fff;
			text-transform: uppercase;
		}
.new-look__edit {
	display: none;
}
	.new-look__edit .new-look__dress {	
		margin-top: 0px;
		padding: 11px 7px 12px 10px;
	}
		.new-look__edit .new-look__dress em {
			float: left;
			margin: 5px 5px 0 0;
			width: 16px;
			height: 16px;
		}
.new-look .new-look__field_dl {
	position: relative;
	height: 27px;
	overflow: visible;
}		
.new-look__dl {
	position: absolute;
	top: 0;
	left: 90px;
}
	.new-look .new-look__dl_active input {		
		position: absolute;
		top: -3px;
		left: -3px;
		border: 3px solid #2a7b9e;
		background: url(../images/arr1.png) no-repeat 98% 50% #fff;
	}
	.new-look .new-look__dl_active .new-look__list {
		display: block;
		z-index: 100;
	}
	.new-look__list {
		display: none;
		position: absolute;
		top: 27px;
		left:-3px;
		width: 420px;
		height: 240px;
		border: 3px solid #2a7b9e;
		border-top: none;
		background: #fff;
	}
		.new-look__scr {
			position: absolute;
			top: 10px;
			left: 5px;
			width: 406px;
			height: 225px;			
			overflow: auto;
			-ms-scrollbar-base-color: #dbdbdb;
			-ms-scrollbar-arrow-color: #fff;
			-ms-scrollbar-darkshadow-color: #fff;
			-ms-scrollbar-shadow-color: #fff;
			-ms-scrollbar-3dlight-color: #fff;
			/*-ms-scrollbar-face-color: #fff;*/
			-ms-scrollbar-highlight-color: #fff;			
		}
		.new-look__scr::-webkit-scrollbar {
			width: 9px;
		}
		.new-look__scr::-webkit-scrollbar-thumb {
			background: #dbdbdb;
		}
			.new-look__scr ul {
				width: 385px;
			}
				.new-look__scr li {
					height: 32px;
					line-height: 32px;
					padding-left: 5px;
					font: 20px/32px 'myriad_pro_condbold', Arial, sans-serif;
					color: #003146;
				}
					.new-look__scr li:hover {
						background: #2a7b9e;
						color: #fff;
						cursor: pointer;
					}
		.new-look__brd {
			position: absolute;
			top: 0;
			left:5px;
			width: 410px;
			height: 1px;
			background: #dbdbdb;
		}
.look-sel-wrap {
	position: relative;
	height: 27px;
	margin-bottom: 33px;
	padding: 5px;
	background: url(../images/menu-hover.png) 0 0 repeat;
}
	.select {
		position: relative;
		float: left;
		margin-right: 4px;
		width: 129px;
		height: 27px;
		font: normal 13px 'Conv_DINCondensedC', Arial, sans-serif;
		text-transform: uppercase;
		background: url(../images/arr2.png) no-repeat 90% 50% #fff;
	}
		.select span {
			line-height: 27px;
			margin-left: 9px;
		}
		.select select {
			position: absolute;
			top: 0;
			left: 0;
			width: 129px;
			height: 27px;
			opacity: 0;
		}
	.dwnld-look-btn {
		position: absolute;
		top: 50%;
		right: 5px;
		margin-top: -13px;
		height: 27px;
		width: 108px;
		padding-left: 21px;
		font: normal 13px/30px 'Conv_DINCondensedC', Arial, sans-serif;
		text-transform: uppercase;
		color: #fff;
		background: #2a7b9e url(../images/arrow-dwnld.png) 8px 11px no-repeat;
	}
	.dwnld-look-btn:hover {
		background: #3ea7d4 url(../images/arrow-dwnld.png) 8px -9px no-repeat;;
	}
.str-looks-wrap {
	overflow: hidden;
	margin-right: -22px;
	padding-top: 11px;
}
	.look {
		display: inline-block;
		vertical-align: top;
		width: 220px;
		margin: 0 22px 33px 0;
	}
		.look__img {
			display: block;
			padding: 3px;
			border: 1px solid #dadada;
			margin-bottom: 7px;
		}
			.look__img img {display: block;}
		.look__link {
			display: block;
			font: normal 24px/24px 'myriad_pro_condbold', Arial, sans-serif;
		}
		.look__info {
			padding-right: 3px;
			color: #a8a8a8;
			font: normal 14px 'MyriadPro-Cond', Arial, sans-serif;
		}
.soc-prof {padding-top: 16px;}
	.soc-prof li {
		margin-bottom: 10px;
	}
		.soc-prof a {
			display: inline-block;
			height: 27px;
			width: 129px;
			padding-left: 29px;
			font: normal 20px 'MyriadPro-Cond';
			color: #fff;
			background-image: url(../images/soc-footer-hover.png);
			background-repeat: no-repeat;
		}
		.soc-prof 
		.soc-prof__active {
			background-color: transparent;
			color: #003146;
			width: 121px;
			padding-left: 34px;
		}
		.soc-prof__fb {
			background-color: #3B5998;
		}
		.soc-prof__tw {
			background-color: #55B7E0;
			background-position: 0 -41px;
		}
		.soc-prof__vk {
			background-color: #597A99;
			background-position: 0 -117px;
		}
		.soc-prof 
		.soc-prof__del {
			color: #2a7b9e;
			font: normal 12px Helvetica,sans-serif;
			background: none;
			width: auto;
			padding-left: 19px;
		}
.new-look__ava {
	float: left;
	width: 130px;
	margin-right: 28px;
}
	.new-look__ava-img {
		display: block;
		padding: 3px;
		background-color: #fff;
		border: 1px solid #dadada;
		margin-bottom: 6px;
	}
	.new-look__ava-edit {
		font: normal 14px Helvetica,sans-serif;
		color: #2a7b9e;
	}
	.new-look-btn {
		float: left; 
		height: 27px;
		padding: 0 8px;
		background: #2A7B9E;
		font: normal 16px/27px 'MyriadPro-Cond', Arial, sans-serif;
		color: #fff;
		text-transform: uppercase;
	}
	.new-look-btn_save {
		margin-left: 142px;
	}
	.new-look-btn_change {
		margin-left: 144px;
	}
	.new-look__pass 
	.new-look__field span,
	.new-look__user_mod 
	.new-look__field span {
		width: 142px;
	}
	.new-look__pass input {
		padding: 0 5px !important;
		border: 0 !important;
		width: 361px;
	}
	.new-look__user_mod {
		padding-bottom: 5px;
	}
/*scroll
=================================================================*/
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 4px;
	width: 9px;
	height: 100%;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	position: relative;
}

.jspDrag
{
	background: #dbdbdb;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
.look-wrapp {
	overflow: hidden;
	padding: 10px;
}
	.look-thing-pic {
		float: left;
		width: 380px;
		margin: 0;
	}
		.look-thing-pic img {
			display: block;
		}
	.look-things {
		float: left;
		width: 230px;
		padding: 0 0 0 8px;
	}	
		.look-thing {
			overflow: hidden;  
			height: 27px;
			margin-bottom: 5px;
			padding: 0 5px 0 10px;
			text-transform: uppercase;
			color: #fff;
			font: normal 13px/27px 'Conv_DINCondensedC';
		}
		.look-thing_1 {
			background: #6186ca;
		}
		.look-thing_2 {
			background: #c9b3a6;
		}
		.look-thing_3 {
			background: #ea8044;
		}
		.look-thing_4 {
			background: #cedcdf;
			color: #013348;
		}
		.look-thing_5 {
			background: #4f7ba0;
		}
		.look-thing_6 {
			background: #e6e8e7;
			color: #013348;
		}
			.look-thing__price {
				float: right;
			}
.look-things .soc-buttons-2 {
	margin-top: 20px;
}
.look-thing-src {
	border-top: 3px solid #013348;
}
	.look-thing-src 
	.gallery-news__items a {
		width: 86px;
		margin: 0;
	}
	.gallery-news__items 
	.other-looks-img {
		float: left;
		opacity: 1 !important;
	}
	.look-thing-src
	.gallery-news__slide {
		width: 578px;
		height: 130px;
		background: url(../images/menu-hover.png) 0 0 repeat;
	}
	.look-thing-src span {
		height: 130px;
	}
	.look-thing-src img {
		opacity: 0.5;
	}
.look-nav {
	width: 59px;
}
	.look-nav span {
		font-size: 24px;
	}

.pop-look-scroll {
	height: 265px;
}
	.pop-look-scroll a {
		display: block;
		float: none;
	}
	.pop-look-scroll__link {
		width: 133px;
		padding: 3px;
		border: 1px solid #dadada;
		margin-bottom: 9px;
	}
	.pop-look-scroll 
	.video-item_s {
		width: 133px;
		margin-right: 25px;
	}
	.pop-look-scroll
	.content__title-info {
		padding: 0;
	}
	.pop-look-scroll
	.icon_viewed {
		padding-right: 0;
	}
.look-nav {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
	.afisha-look a {
		margin-bottom: 9px;
	}
