/*breadcrumps
=================================================================*/
.breadcrumps {
	padding: 9px 0;
	overflow: hidden;
}
	.breadcrumps a {
		position: relative;
		float: left;
		margin-right: 3px;
		padding: 0 3px 0 10px;		
		height: 14px;
		background: #dbeef6;
		font-size: 13px;
		line-height: 14px;
		color: #2a7b9e;
		text-decoration: none;
		text-transform: uppercase;
	}
	.breadcrumps span {
		position: absolute;
		top: 0;
		right: -4px;
		width: 0;
	   	height: 0;
	   	border-left: 4px solid #dbeef6;
	   	border-top: 7px solid transparent;
	   	border-bottom: 7px solid transparent;
	   	z-index: 10;
	}
	.breadcrumps i {
		position: absolute;
		top: -6px;
		right: -7px;
		width: 0;
	   	height: 0;
	   	border-left: 7px solid #fff;
	   	border-top: 13px solid transparent;
	   	border-bottom: 13px solid transparent;
	   	z-index: 5;
	}
/*style for photo
=================================================================*/
/*album
=================================================================*/
.album {
	overflow: hidden;
	margin-right: -50px;
}
	.album__photo {
		position: relative;
		float: left;
		margin: 0 10px 10px 0;
		cursor: pointer;
	}
		.album__photo_1 {
			width: 470px;
			height: 375px;
		}
			.album__photo_1 i {
				width: 462px;
				height: 367px;
			}
		.album__photo_2 {
			width: 235px;
			height: 185px;
		}
			.album__photo_2 i {
				width: 227px;
				height: 177px;
			}
		.album__photo_3 {
			width: 153px;
			height: 180px;
		}
			.album__photo_3 i {
				width: 145px;
				height: 172px;
			}
		.album__photo_4 {
			width: 313px;
			height: 205px;
		}
			.album__photo_4 i {
				width: 305px;
				height: 197px;
			}
		.album__photo i {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			border: 4px solid #013144;			
		}
		.album__photo .detail_photo {
			display: none;
		}
		.album__photo:hover i, .album__photo:hover .detail_photo {
			display: block;
		}
/*last albums	
=================================================================*/
.last-albums {
	overflow: hidden;
	margin: 0 -30px 50px 0;
}	
	.last-albums_b {
		margin: 0 -30px 20px 0;
	}
	.last-albums .h2 {
		margin: 40px 0 15px 0;
	}
	.last-albums__item-s {
		float: left;
		width: 313px;		
		height: 108px;
		margin-right: 10px;
	}
		.last-albums__pic {
			position: relative;
			float: left;
			margin-right: 7px;
			width: 153px;
			height: 108px;
		}
			.last-albums__pic img {
				position: absolute;
				top: 4px;
				left: 4px;
				z-index: 15;
			}
			.last-albums__pic span  {
				position: absolute;
				width: 148px;
				height: 103px;
				border: 1px solid #dadada;				
			}
			.last-albums__rect-1 {
				top: 0;
				left: 0;
				background: #fff;
				z-index: 10;
			}
			.last-albums__rect-2 {
				top: 3px;
				left: 3px;
				z-index: 5;
			}
		.last-albums__info {
			overflow: hidden;
		}
			.last-albums__info .detail {
				margin-top: 2px;
			}
			.last-albums__info .detail__date {
				margin-right: 7px;
			}
/*pop albums
=================================================================*/
.pop-albums {
	overflow: hidden;
}
	.pop-albums__item {
		float: left;
		width: 300px;
		height: 260px;
		padding: 10px;
	}
		.pop-albums__item_c1 {background: #126288;}
		.pop-albums__item_c2 {background: #184459;}
		.pop-albums__item_c3 {background: #0c2c3d;}
		.pop-albums__item img {
			margin-bottom: 10px;
		}
		.pop-albums__item a {
			color: #fff;
		}
		.pop-albums__item .detail {
			margin-top: 0px;
		}
		.pop-albums__item .detail span {
			color: #fff;
		}
		.pop-albums__item .detail__view {
			background:url(../images/view-com1.png) no-repeat 0 0;
		}
		.pop-albums__item .detail__com {
			background:url(../images/view-com1.png) no-repeat 0 -15px;
		}
.last-albums__item-b {
	float: left;
	display: inline-block;
	width: 302px;		
	margin: 0 27px 20px 0;
	vertical-align: top;
}
	.last-albums__item-b .last-albums__pic {
		float: none;
		margin-bottom: 5px;
		width: 302px;
		height: 191px;
	}
		.last-albums__item-b .last-albums__pic span {
			width: 296px;
			height: 186px;
		}

