/*style for photo
=================================================================*/
/*album
=================================================================*/
.album {
	overflow: hidden;
	margin-right: -50px;
}
	.album__photo {
		position: relative;
		float: left;
		margin: 0 10px 10px 0;
		cursor: pointer;
	}
		.album__photo_1 {
			width: 470px;
			height: 375px;
		}
			.album__photo_1 i {
				width: 462px;
				height: 367px;
			}
		.album__photo_2 {
			width: 235px;
			height: 185px;
		}
			.album__photo_2 i {
				width: 227px;
				height: 177px;
			}
		.album__photo_3 {
			width: 153px;
			height: 180px;
		}
			.album__photo_3 i {
				width: 145px;
				height: 172px;
			}
		.album__photo_4 {
			width: 313px;
			height: 205px;
		}
			.album__photo_4 i {
				width: 305px;
				height: 197px;
			}
		.album__photo i {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			border: 4px solid #013144;			
		}
		.album__photo .detail_photo {
			display: none;
		}
		.album__photo:hover i, .album__photo:hover .detail_photo {
			display: block;
		}
/*last albums	
=================================================================*/
.last-albums {
	overflow: hidden;
	margin: 0 -30px 50px 0;
}	
	.last-albums_b {
		margin: 0 -30px 20px 0;
	}
	.last-albums .h2 {
		margin: 40px 0 15px 0;
	}
	.last-albums__item-s {
		float: left;
		width: 313px;		
		height: 108px;
		margin-right: 10px;
	}
		.last-albums__pic {
			position: relative;
			float: left;
			margin-right: 7px;
			width: 153px;
			height: 108px;
		}
			.last-albums__pic img {
				position: absolute;
				top: 4px;
				left: 4px;
				z-index: 15;
			}
			.last-albums__pic span  {
				position: absolute;
				width: 148px;
				height: 103px;
				border: 1px solid #dadada;				
			}
			.last-albums__rect-1 {
				top: 0;
				left: 0;
				background: #fff;
				z-index: 10;
			}
			.last-albums__rect-2 {
				top: 3px;
				left: 3px;
				z-index: 5;
			}
		.last-albums__info {
			overflow: hidden;
		}
			.last-albums__info .detail {
				margin-top: 2px;
			}
			.last-albums__info .detail__date {
				margin-right: 7px;
			}
/*pop albums
=================================================================*/
.pop-albums {
	overflow: hidden;
}
	.pop-albums__item {
		float: left;
		width: 300px;
		height: 260px;
		padding: 10px;
	}
		.pop-albums__item_c1 {background: #126288;}
			.pop-albums__item_c1 .label {
				margin: 0 0 9px -10px !important;
				background: #4485a4;
				color: #fff;
			}
		.pop-albums__item_c2 {background: #184459;}
			.pop-albums__item_c2 .label {
				margin: 0 0 9px -10px !important;
				background: #496f80;
				color: #fff;
			}
		.pop-albums__item_c3 {background: #0c2c3d;}
			.pop-albums__item_c3 .label {
				margin: 0 0 9px -10px !important;
				background: #405d6b;
				color: #fff;
			}
		.pop-albums__item img {
			margin-bottom: 10px;
		}
		.pop-albums__item a {
			color: #fff;
		}
		.pop-albums__item .detail {
			margin-top: 0px;
		}
		.pop-albums__item .detail span {
			color: #fff;
		}
		.pop-albums__item .detail__view {
			background:url(../images/view-com1.png) no-repeat 0 0;
		}
		.pop-albums__item .detail__com {
			background:url(../images/view-com1.png) no-repeat 0 -15px;
		}
.last-albums__item-b {
	float: left;
	display: inline-block;
	width: 302px;		
	margin: 0 27px 20px 0;
	vertical-align: top;
}
	.last-albums__item-b .last-albums__pic {
		float: none;
		margin-bottom: 5px;
		height: 191px;
		width: 100%;
	}
		.last-albums__item-b .last-albums__pic span {
			width: 296px;
			height: 186px;
		}
/*gallery
=================================================================*/
.gallery-out {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #05181F;
	z-index: 1000;
}
.gallery {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -345px 0 0 -480px;
	width: 960px;
	height: 690px;
	background: #102530;
	z-index: 1500;
}
	.gallery__ins {
		position: absolute;
		top: 0;
		left: 0;
		width: 960px;
		height: 690px;
	}
.gallery_all .gallery__ins {
	width: 640px;
}	
.gallery_all .gallery__close {
	background:url(../images/close.png) no-repeat 0 -16px;
}
.gallery__info {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	width: 290px;
	height: 660px;
	background: #fff;
}
	.gallery__info .h1 {
		font-size: 30px;
	}
	.gallery__logo {
		width: 100%;
		height: 50px;
		background:url(../images/logo-small.png) no-repeat 50% 0;
	}
	.gallery__cons-detail {
		height: 34px;
		margin-bottom: 8px;
		font: 18px/34px 'myriad_pro_condbold', Arial, sans-serif;
	}
		.gallery__cons-detail .gallery__com-all {			
			color: #2a7b9e;
		}
		.gallery__cons-detail .gallery__com-self {
			padding-left: 25px;
			background:url(../images/com.png) no-repeat 5px 50%;
		}
	.gallery__coms {
		height: 500px;
		padding-right: 10px;
		overflow: auto;
		-ms-scrollbar-base-color: #dbdbdb;
		-ms-scrollbar-arrow-color: #fff;
		-ms-scrollbar-darkshadow-color: #fff;
		-ms-scrollbar-shadow-color: #fff;
		-ms-scrollbar-3dlight-color: #fff;
		-ms-scrollbar-highlight-color: #fff;
	}
	.gallery__coms::-webkit-scrollbar {
		width: 9px;
	}
	.gallery__coms::-webkit-scrollbar-thumb {
		background: #dbdbdb;
	}
	.gallery__com {
		position: relative;
		padding-left: 50px;
		margin-bottom: 20px;
	}
		.gallery__com img {
			position: absolute;
			top: 1px;
			left: 1px;
			border: 1px solid #e1e8ec;
		}
		.gallery__com-txt {
			overflow: hidden;
			-webkit-box-shadow: 0px -3px 3px #f4fafc inset;
			-moz-box-shadow: 0px -3px 3px #f4fafc inset;
			box-shadow: 0px -3px 3px #f4fafc inset;
			border-bottom: 1px solid #eff3f5;
		}
			.gallery__com-txt a {
				font: 14px 'Helvetica', Arial, sans-serif;
				color: #2a7b9e;
			}
			.gallery__com-txt span {
				margin-left: 15px;
				font: 11px 'Helvetica', Arial, sans-serif;
				color: #a8a8a8;
			}
			.gallery__com-txt p {
				margin-bottom: 10px;
				font-size: 14px;
			}
/* Video */
.left-col .h3 {margin-bottom: 13px;}
.right-col .h3 {margin-bottom: 9px;}
.single-video {
	margin-top: 25px;
}
	.other-video {
		overflow: hidden;
		margin: 12px -6px 0 0;
	}
		.other-video__item {
			float: left;
			width: 202px;
			margin-right: 6px;
		}
			.other-video__item a,
			.other-video__item img {
				display: block;
			}
			.other-video__preview {margin-bottom: 8px;}

.pop-video {
	padding: 13px 9px 0;
}
	.pop-video__item {
		overflow: hidden;
		margin-bottom: 20px;
	}
		.pop-video__preview {
			float: left;
			margin-right: 11px;
		}
			.pop-video__preview img {display: block;}
		.pop-video__info {
			overflow: hidden;
		}
			.pop-video__link {
				display: block;
				margin-bottom: 9px;
			}
			.video-info {
				color: #a8a8a8;
				font: 14px 'Conv_DINCondensedC', Arial, sans-serif;
			}
.pop-albums_video 
.pop-albums__item {
	padding-bottom: 22px;
	height: auto;
}
	.video-preview,
	.video-preview img {
		display: block;
	}
	.video-preview {
		position: relative;
		margin-bottom: 11px;
	}
	.pop-albums_video a{
		display: block;
		color: #fff;
		font: 24px/24px 'myriad_pro_condbold', Arial, sans-serif;
	}
	.pop-albums_video .label {
		display: inline-block;
		margin: 0 0 9px -9px;
	}
	.pop-albums_video .video-info {
		color: #fff;
	}
.last-video .video-preview {
	margin-bottom: 8px;
}
.last-video a {
	display: block;
	font: 24px/24px 'myriad_pro_condbold', Arial, sans-serif;
}
.last-video .label {
	display: inline-block;
	margin-bottom: 2px;
}
.last-video 
.last-albums__item-b {margin-bottom: 46px;}
.showroom-video {
	margin-top: 13px;
}