/*breadcrumps
=================================================================*/
.breadcrumps {
	padding: 9px 0;
	overflow: hidden;
}
	.breadcrumps a {
		position: relative;
		float: left;
		margin-right: 3px;
		padding: 0 3px 0 10px;		
		height: 14px;
		background: #dbeef6;
		font: 13px/14px 'Conv_DINCondensedC';
		color: #2a7b9e;
		text-decoration: none;
		text-transform: uppercase;
	}
	.breadcrumps span {
		position: absolute;
		top: 0;
		right: -4px;
		width: 0;
	   	height: 0;
	   	border-left: 4px solid #dbeef6;
	   	border-top: 7px solid transparent;
	   	border-bottom: 7px solid transparent;
	   	z-index: 10;
	}
	.breadcrumps i {
		position: absolute;
		top: -6px;
		right: -7px;
		width: 0;
	   	height: 0;
	   	border-left: 7px solid #fff;
	   	border-top: 13px solid transparent;
	   	border-bottom: 13px solid transparent;
	   	z-index: 5;
	}
/*photo styles
=================================================================*/
