.search {
	border: 1px solid #ececec;
	border-bottom: 0;
	overflow: hidden;
	padding-bottom: 10px;
}
.search_tag {padding-bottom: 25px;}
	.search__head {
		padding: 9px;
		-moz-box-shadow: 0 4px 35px #e5eef3;
		-o-box-shadow: 0 4px 35px #e5eef3;
		-webkit-box-shadow: 0 4px 35px #e5eef3;
		box-shadow: 0 4px 35px #e5eef3;
	}
		.search-form {
			padding: 10px;
			background: #e7f2f7 url(../images/menu-hover.png) 0 0 repeat;
			overflow: hidden;
		}
			.search-form__input {
				float: left;
				font: normal 22px 'myriad_pro_condbold';
				color: #002d41;
				border: 0;
				margin: 0;
				height: 31px;
				width: 801px;
				padding: 0 10px;
			} 
			.search-form__submit {
				float: right;
				font: normal 22px/31px 'myriad_pro_condbold';
				color: #fff;
				width: 99px;
				border: 0;
				height: 31px;
				padding-left: 24px;
				background: #002d41 url(../images/glass-2.png) 11px 6px no-repeat;
				background: rgba(0,45,65,0.9) url(../images/glass-2.png) 11px 6px no-repeat;
			}
		.search__filter {
			padding: 19px 0 27px;
		}
			.search__filter-counter {
				font: normal 13px 'Helvetica', sans-serif;
				color: #003146;
				margin-right: 16px;
			}
			.search__filter a {margin-right: 40px;}
			.search__filter-empty {color: #9b9b9b;}
				.search__filter a span {
					display: inline-block;
					font: normal 14px 'Conv_DINCondensedC', sans-serif;
					color: #9b9b9b;
					padding: 1px 0 0 2px;
					vertical-align: top;
				}
		.search__filter_mod {
			padding: 15px 0 7px;
		}
			.search__filter_mod a {
				font: normal 22px 'myriad_pro_condbold';
			}
			.search__filter_mod a span {
				vertical-align: middle;
				padding-top: 0;
			}
	.search__content {
		padding-top: 23px;
	}
		.search-result {
			overflow: hidden;
			margin-bottom: 20px;
		}
			.search-result__categ {
				float: left;
				width: 75px;
				text-align: left;
			}
			.search-result__block {
				float: left;
				width: 717px;
				padding: 0 9px;
				font: normal 13px/18px 'Helvetica', sans-serif;
			}
				.search-result__title {margin-bottom: 5px;}
					.search-result__title a {
						font: normal 24px/20px 'myriad_pro_condbold';
					}
				.search-result__block span {
					background: #e9f5fa;
				}
				.search-result__block p {margin-bottom: 5px;}
				.search-date {
					color: #a8a8a8;
					font: normal 11px 'Arial', sans-serif;
					background: none !important;
				}
			.search-result__img {
				float: left;
				width: 130px;
				text-align: center;
			}
/* search tag */
.search-tag {
	padding: 0 9px;
}
	.search-tag__title {
		color: #003146;
		font: normal 24px/20px 'myriad_pro_condbold';
		margin-bottom: 12px;
	}
		.more {
			position: relative;
			display: block;
			background: #e9f1f5;
			border-top: 1px solid #d0e2ea;
		}
		.more:hover {
			display: block;
			background: #e9f1f5 url(../images/more-hover.jpg) 100% 100% no-repeat;
		}
		.more_video {height: 128px;}
			.more_video span {
				position: absolute;
				top: 50%;
				margin-top: -12px;
				height: 23px;
				width: auto !important;
				background: url(../images/icon-video.png) 100% 0 no-repeat !important;
				padding: 0 29px;
				line-height: 23px;
			}
		.more_photo {height: 107px;}
			.more_photo span {
				position: absolute;
				top: 50%;
				margin-top: -7px;
				height: 15px;
				width: auto !important;
				background: url(../images/icon-img.png) 100% 0 no-repeat !important;
				padding: 0 18px;
				line-height: 15px;
				border: 0;
			}
		.more_pub {
			height: 53px;
			width: 710px;
			text-align: center;
			margin: -9px 0 27px 0;
		}
			.more_pub span {
				line-height: 53px;
			}
		.more_events {
			height: 141px;
			width: 113px;
			text-align: center;
			margin: 24px 0 0;
		}
			.more_events span {
				display: block;
				width: 65px;
				margin: 45px auto 0;
			}
	.search-public {
		overflow: hidden;
		margin-bottom: 19px;
	}
		.search-public__img {
			float: left;
			margin: 5px 20px 0 0;
		}
		.search-public__cont {
			width: 850px;
			float: left;
		}
			.search-public__title {
				margin: 7px 0 2px 0;
			}
				.search-public__title a {
					font: normal 20px 'myriad_pro_condbold';
				}
			.search-public__cont p {
				font: normal 13px/20px 'Helvetica', sans-serif;
				margin-bottom: 3px;
			}